openapi: 3.1.0

info:
  title: TrackPilots API & Webhooks
  version: 1.1.0
  description: |
    Trackpilots REST APIs and Webhook events.
    Webhooks are sent by the Trackpilots desktop agent to customer-configured endpoints.
    Clients only send `secret_key`. All other fields are generated by the server.

servers:
  - url: https://api.trackpilots.com
    description: Production server

tags:
  - name: Teams
    description: Team management APIs

  - name: Desktop Events
    description: Desktop agent webhook events

paths:
  /v1/teams:
    get:
      summary: Fetch All Teams
      tags:
        - Teams
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Fetched all team details successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchAllTeamsSuccessResponse'
            
        '401':
          $ref: '#/components/responses/UnauthorizedError'

        '422':
          $ref: '#/components/responses/RouteNotFoundError'

        '500':
          $ref: '#/components/responses/InternalServerError'


    post:
      summary: Create Team
      tags:
        - Teams
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTeamRequest'
      responses:
        '200':
          description: Team created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTeamsSuccessResponse'
        
        '400':
          description: Validation error while creating team
          content:
            application/json:
              examples:
                teamNameMissing:
                  summary: teamName is missing
                  value:
                    success: false
                    statusCode: 400
                    statusMessage: Failed to create team
                    data: null
                    error:
                      message: Request body is not valid
                      code: REQUEST_VALIDATION_FAILED
                      details:
                        - path:
                            - teamName
                          message: Required

        '401':
          $ref: '#/components/responses/UnauthorizedError'

        '422':
          $ref: '#/components/responses/RouteNotFoundError'

        '500':
          $ref: '#/components/responses/InternalServerError'

        
    patch:
      summary: Update Team Details
      tags:
        - Teams
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTeamRequest'
      responses:
        '200':
          description: Team updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsSuccessResponse'
                
        '401':
          $ref: '#/components/responses/UnauthorizedError'

        '422':
          $ref: '#/components/responses/RouteNotFoundError'

        '500':
          $ref: '#/components/responses/InternalServerError'

      
    delete:
      summary: Delete Team
      tags:
        - Teams
      description: Deletes a team using teamId provided in the request body.
      operationId: deleteTeam
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteTeamRequest'
            example:
              teamId: "9c1b7b9a-8c2f-4a9d-9f63-2a1b5c7e8d90"
      responses:
        '200':
          description: Team deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDeleteSuccessResponse'
          
        '401':
          $ref: '#/components/responses/UnauthorizedError'

        '422':
          $ref: '#/components/responses/RouteNotFoundError'

        '500':
          $ref: '#/components/responses/InternalServerError'


  /teams/filter:
    post:
      summary: Fetch Teams by Team ID
      tags:
        - Teams
      description: Returns team details for the given list of team IDs.
      operationId: filterTeamsByIds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterTeamsRequest'
        
      responses:
        '200':
          description: Teams fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchTeamsByIdsSuccessResponse'
        
          
        '401':
          $ref: '#/components/responses/UnauthorizedError'

        '422':
          $ref: '#/components/responses/RouteNotFoundError'

        '500':
          $ref: '#/components/responses/InternalServerError'


webhooks:
  desktop.activity_tracking.captured:
    post:
      summary: Activity Tracking Event
      tags:
        - Desktop Events
      responses:
        '200':
          description: Event processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityCapturedEvent'

  desktop.app_tracking.captured:
    post:
      summary: App Tracking Event
      tags:
        - Desktop Events
      responses:
        '200':
          description: Event processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCapturedEvent'

  desktop.screenshot_tracking.captured:
    post:
      summary: Screenshot Tracking Event
      tags:
        - Desktop Events
      responses:
        '200':
          description: Event processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreenshotCapturedEvent'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    
  responses:
    UnauthorizedError:
      description: Authentication & Authorization errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthErrorResponse'
          examples:
                authorizationHeaderMissing:
                  summary: Authorization header missing
                  value:
                    success: false
                    statusCode: 401
                    statusMessage: Authentization token header is missing
                    data: null
                    error:
                      message: Authentization header is missing
                      code: AUTHORIZATION_HEADER_MISSING

                invalidAuthorizationScheme:
                  summary: Invalid authorization scheme
                  value:
                    success: false
                    statusCode: 401
                    statusMessage: Authorization scheme is invalid
                    data: null
                    error:
                      message: Invalid authorization scheme
                      code: INVALID_AUTHORIZATION_SCHEMA

                tokenMissing:
                  summary: Token missing
                  value:
                    success: false
                    statusCode: 401
                    statusMessage: Authentication token is missing
                    data: null
                    error:
                      message: Token is missing
                      code: TOKEN_MISSING

                tokenExpired:
                  summary: Token expired
                  value:
                    success: false
                    statusCode: 401
                    statusMessage: Authentication token is expired
                    data: null
                    error:
                      message: Token is expired
                      code: TOKEN_EXPIRED

                tokenInvalid:
                  summary: Token invalid
                  value:
                    success: false
                    statusCode: 401
                    statusMessage: Authentication token is invalid
                    data: null
                    error:
                      message: Token is invalid
                      code: TOKEN_INVALID

    RouteNotFoundError:
      description: Route does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RouteNotFound'

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InternalServerError'

  schemas:
    # ------------------ Teams ------------------
    FetchAllTeamsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Fetched all team details successfully
        error:
          nullable: true
          example: null
        data:
          type: array
          example:
            - teamId: c1e4416e-f57c-4614-886f-35a5541f4316
              teamName: Full Stack Developer
            - teamId: a2b5416e-f57c-4614-886f-35a5541f4321
              teamName: Backend Team
            - teamId: d9f4416e-f57c-4614-886f-35a5541f4399
              teamName: UI/UX Team

    FetchTeamsByIdsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Fetched all team details successfully
        error:
          nullable: true
          example: null
        data:
          type: array
          example:
            - teamId: c1e4416e-f57c-4614-886f-35a5541f4316
              teamName: Full Stack Developer

    CreateTeamsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Fetched all team details successfully
        error:
          nullable: true
          example: null
        data:
          type: object
          properties:
            teamId:
              type: string
              format: uuid
              example: c1e4416e-f57c-4614-886f-35a5541f4316
            teamName:
              type: string
              example: Full Stack Developer

          
    # ------------------ Base Event ------------------
    BaseEvent:
      type: object
      required: [event, version, agent, timestamp, data]
      properties:
        event:
          type: string
        version:
          type: string
          example: v1
        agent:
          type: string
          example: desktop-agent
        timestamp:
          type: integer
          format: int64
        data:
          type: array

    # ------------------ Activity Tracking ------------------
    ActivityCapturedEvent:
      allOf:
        - $ref: '#/components/schemas/BaseEvent'
        - type: object
          properties:
            event:
              example: desktop.activity_tracking.captured
            data:
              items:
                $ref: '#/components/schemas/WorkData'

    WorkData:
      type: object
      properties:
        workEventId:
          type: string
          format: uuid
        workType:
          type: string
          enum: [start, stop, break]
        workTime:
          type: string
          format: date-time
        organisationId:
          type: string
          format: uuid
        teamId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        operatingSystem:
          type: string
          enum: [windows, macos, linux]

    # ------------------ App Tracking ------------------
    AppCapturedEvent:
      allOf:
        - $ref: '#/components/schemas/BaseEvent'
        - type: object
          properties:
            event:
              example: desktop.app_tracking.captured
            data:
              items:
                $ref: '#/components/schemas/AppData'

    AppData:
      type: object
      properties:
        appTrackingId:
          type: string
          format: uuid
        appName:
          type: string
        appIconUrl:
          type: string
          format: uri
        appFullUrl:
          type: string
        appCategory:
          type: string
        appProductivityCategory:
          type: string
          enum: [productive, neutral, unproductive]
        appTime:
          type: string
          format: date-time
        organisationId:
          type: string
          format: uuid
        teamId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        operatingSystem:
          type: string
          enum: [windows, macos, linux]

    # ------------------ Screenshot Tracking ------------------
    ScreenshotCapturedEvent:
      allOf:
        - $ref: '#/components/schemas/BaseEvent'
        - type: object
          properties:
            event:
              example: desktop.screenshot_tracking.captured
            data:
              items:
                $ref: '#/components/schemas/ScreenshotData'

    ScreenshotData:
      type: object
      properties:
        screenshotId:
          type: string
          format: uuid
        screenshotAppName:
          type: string
        screenshotTime:
          type: string
          format: date-time
        screenshotUrl:
          type: object
          additionalProperties: true
        organisationId:
          type: string
          format: uuid
        teamId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        screenshotOperatingSystem:
          type: string
          enum: [windows, macos, linux]

    # ------------------ Errors ------------------
    BaseError:
      type: object
      properties:
        success:
          type: boolean
          example: false
        statusCode:
          type: integer
        statusMessage:
          type: string
        data:
          nullable: true
          example: null
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: string

    RouteNotFound:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            statusCode:
              example: 422
            statusMessage:
              example: Route does not exist
            error:
              properties:
                message:
                  example: The requested endpoint or method is not available
                code:
                  example: ROUTE_NOT_FOUND

    AuthHeaderMissing:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            statusCode:
              example: 401
            statusMessage:
              example: Authentization token header is missing
            error:
              properties:
                message:
                  example: Authentization header is missing
                code:
                  example: AUTHORIZATION_HEADER_MISSING

    InvalidAuthScheme:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            statusCode:
              example: 401
            statusMessage:
              example: Authorization scheme is invalid
            error:
              properties:
                message:
                  example: Invalid authorization scheme
                code:
                  example: INVALID_AUTHORIZATION_SCHEMA

    TokenMissing:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            statusCode:
              example: 401
            statusMessage:
              example: Authentication token is missing
            error:
              properties:
                message:
                  example: Token is missing
                code:
                  example: TOKEN_MISSING

    TokenExpired:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            statusCode:
              example: 401
            statusMessage:
              example: Authentication token is expired
            error:
              properties:
                message:
                  example: Token is expired
                code:
                  example: TOKEN_EXPIRED

    TokenInvalid:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            statusCode:
              example: 401
            statusMessage:
              example: Authentication token is invalid
            error:
              properties:
                message:
                  example: Token is invalid
                code:
                  example: TOKEN_INVALID

    InternalServerError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            statusCode:
              example: 500
            statusMessage:
              example: Internal server error
            error:
              properties:
                message:
                  example: Some technical error has occurred !!
                code:
                  example: UNKNOWN_SERVER_ERROR


    CreateTeamRequest:
      type: object
      required:
        - teamName
      properties:
        teamName:
          type: string
          example: Full Stack Developer

    UpdateTeamRequest:
      type: object
      required:
        - teamId
        - teamName
      properties:
        teamId:
          type: string
          format: uuid
          example: c1e4416e-f57c-4614-886f-35a5541f4316
        teamName:
          type: string
          example: Backend Team

    DeleteTeamRequest:
      type: object
      required:
        - teamId
      properties:
        teamId:
          type: string
          format: uuid
          description: Unique ID of the team to delete

    TeamDeleteSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Team deleted successfully"
    
    FilterTeamsRequest:
      type: object
      required:
        - teamIds
      properties:
        teamIds:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
          description: List of team IDs to fetch

    FilterTeamsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/Team'

    AuthErrorResponse:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            statusCode:
              example: 401
            error:
              properties:
                code:
                  type: string
                  enum:
                    - AUTHORIZATION_HEADER_MISSING
                    - INVALID_AUTHORIZATION_SCHEMA
                    - TOKEN_MISSING
                    - TOKEN_EXPIRED
                    - TOKEN_INVALID
