openapi: 3.1.0

info:
  title: TrackPilots API & Webhooks
  version: 1.1.0
  description: |
    Trackpilots REST APIs and Webhook events.
    Webhooks are sent by the Trackpilots desktop agent to customer-configured endpoints.
    Clients only send `secret_key`. All other fields are generated by the server.

servers:
  - url: https://api.trackpilots.com
    description: Production server

tags:
  - name: Teams
    description: Team management APIs

  - name: Desktop Events
    description: Desktop agent webhook events

webhooks:
  desktop.activity_tracking.captured:
    post:
      summary: Activity Tracking Event
      description: >
        Triggered when a user's activity state changes on the desktop
        (work or privacy). This event indicates whether the user is
        currently in work mode or privacy mode.
      tags:
        - Desktop Events
      responses:
        "200":
          description: Webhook received and processed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesktopActivityTrackingCapturedEvent"

  desktop.app_tracking.captured:
    post:
      summary: App Tracking Event
      description: >
        Triggered when the desktop app tracked the application and websites.
        This event contains detailed information about the application,
        time spent, and context of the switch.
      tags:
        - Desktop Events
      responses:
        "200":
          description: Webhook received and processed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesktopAppTrackingCapturedEvent"

  desktop.screenshot_tracking.captured:
    post:
      summary: Screenshot  Tracking Event
      description: >
        Triggered when a screenshot is captured on the user's desktop.
        The payload includes screenshot metadata and one or more
        Base64-encoded image buffers.
      tags:
        - Desktop Events
      responses:
        "200":
          description: Webhook received and processed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesktopScreenshotCapturedEvent"

paths:
  /v1/dashboard/employee-recent-activity:
    get:
      summary: Fetch Employee Recent Activity
      description: >
        Fetch dashboard recent employee activity
      tags:
        - Dashboard
      security:
        - BearerAuth: []

      responses:
        "200":
          description: Fetched employee recent activity successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchDashboardEmployeeRecentActivityResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/dashboard/work-summary:
    post:
      summary: Fetch Work Summary
      description: >
        Fetch dashboard work summary with particular interval of time
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchDashboardWorkSummaryRequest"
      responses:
        "200":
          description: Fetched work summary successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchDashboardWorkSummarySuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FetchDashboardWorkSummaryValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422UnprocessableUserIdorTeamIdErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/dashboard/top-productive-performer:
    post:
      summary: Fetch Top Productive Perfomer
      description: >
        Fetch the top productive performers today
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchDashboardTopProductivePerformerRequest"
      responses:
        "200":
          description: Fetched top productive performer successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchDashboardTopProductivePerformerResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FetchDashboardTopProductivityPerformerValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422UnprocessableUserIdorTeamIdErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"
  
  /v1/dashboard/recent-screenshot:
    post:
      summary: Fetch Recent Screenshot
      description: >
        Fetch the latest 20 screenshots captured today.
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchDashboardRecentScreenshotRequest"
      responses:
        "200":
          description: Recent screenshot fetched successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchDashboardRecentScreenshotResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FetchDashboardRecentScreenshotValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422UnprocessableUserIdorTeamIdErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/dashboard/work-time-analysis:
    post:
      summary: Fetch Work Time Analysis
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchDashboardWorkTimeAnalysisRequest"
      responses:
        "200":
          description: Fetched work time analysis successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchDashboardWorkTimeAnalysisResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FetchDashboardWorkTimeAnalysisValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422UnprocessableUserIdorTeamIdErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/dashboard/productivity-analysis:
    post:
      summary: Fetch Productivity Analysis
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchDashboardProductivityAnalysisRequest"
      responses:
        "200":
          description: Fetched productivity analysis successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchDashboardProductivityAnalysisResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FetchDashboardProductivityAnalysisValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422UnprocessableUserIdorTeamIdErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/dashboard/apps-and-websites-usage:
    post:
      summary: Fetch Apps And Websites
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchDashboardAppsAndWebsitesRequest"
      responses:
        "200":
          description: Fetched apps and websites successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchDashboardAppsAndWebsitesResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FetchDashboardAppsAndWebsitesValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422UnprocessableUserIdorTeamIdErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/dashboard/weekly-summary:
    post:
      summary: Fetch Weekly Summary
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchDashboardWeeklySummaryRequest"
      responses:
        "200":
          description: Fetched weekly summary successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchDashboardWeeklySummaryResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FetchDashboardWeeklySummaryValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422UnprocessableUserIdorTeamIdErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/dashboard/work-time-efficiency:
    post:
      summary: Fetch Work Time Efficiency
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchDashboardWorkTimeEfficiencyRequest"
      responses:
        "200":
          description: Fetched work time efficiency successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchDashboardWorkTimeEfficiencyResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FetchDashboardWorkTimeEfficiencyValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422UnprocessableUserIdorTeamIdErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"


  /v1/my-team:
    post:
      summary: Fetch My Team
      description: >
        Fetch my team details
      tags:
        - My Team
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchMyTeamRequest"
      responses:
        "200":
          description: Fetched my team details successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchMyTeamResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FetchMyTeamValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422UnprocessableUserIdorTeamIdErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/my-team/time-logs/{userId}:
    get:
      summary: Fetch Time Logs
      tags:
        - My Team
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/UserIdParam"
        - $ref: "#/components/parameters/TimeZoneQuery"

      responses:
        "200":
          description: Fetched my team time logs successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchMyTeamTimeLogsSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FetchMyTeamTimeLogsValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422UnprocessableUserIdErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/my-team/work-summary/{userId}:
    get:
      summary: Fetch Work Summary
      tags:
        - My Team
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/UserIdParam"
        - $ref: "#/components/parameters/TimeZoneQuery"

      responses:
        "200":
          description: Fetched my team work summary successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchMyTeamWorkSummarySuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FetchMyTeamWorkSummaryValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422UnprocessableUserIdErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"


  /v1/my-team/screenshot/{userId}:
    get:
      summary: Fetch Screenshot
      tags:
        - My Team
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/UserIdParam"
        - $ref: "#/components/parameters/TimeZoneQuery"

      responses:
        "200":
          description: Fetched my team screenshot successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchMyTeamScreenshotResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FetchMyTeamScreenshotValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422UnprocessableUserIdErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/my-team/apps-and-websites-usage/{userId}:
    get:
      summary: Fetch Apps And Websites Usage
      tags:
        - My Team
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/UserIdParam"
        - $ref: "#/components/parameters/TimeZoneQuery"

      responses:
        "200":
          description: Fetched apps and websites usage successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchMyTeamAppsAndWebsitesResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400FetchMyTeamAppsAndWebsitesUsageValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422UnprocessableUserIdErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"
          
  /v1/employees:
    get:
      summary: Fetch All Employees
      tags:
        - Manage Employees
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Fetched all employee details successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchEmployeeListSuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: Add Employee
      tags:
        - Manage Employees
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddEmployeeViaManualRequest"
      responses:
        "200":
          description: User added successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200AddedEmployeeViaManuallySuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400AddEmployeeManualValidationErrorResponse"
        "409":
          description: Employee email ID is already associated with another organization.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/409AddEmployeeDuplicateErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422AddEmployeeUnprocessableErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

    patch:
      summary: Update Employee
      tags:
        - Manage Employees
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEmployeeRequest"
      responses:
        "200":
          description: User details updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200UpdateEmployeeSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400UpdateEmployeeValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422UpdateEmployeeUnprocessableErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: Delete Employee
      tags:
        - Manage Employees
      description: Delete a user using userId provided in the request body.
      operationId: deleteEmployee
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteEmployeeRequest"
            example:
              userId: "c0296718-3538-461b-9045-e12d11a80605"
      responses:
        "200":
          description: User deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200DeleteEmployeeSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400DeleteEmployeeValidationErrorResponse"

        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422DeleteEmployeeUnprocessableErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/employees/filter:
    post:
      summary: Fetch Employees by User ID
      tags:
        - Manage Employees
      security:
        - BearerAuth: []
      description: Returns user details for the given list of user IDs.
      operationId: filterUserByIds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FilterUserIdsRequest"
      responses:
        "200":
          description: Fetched employee details successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchFilteredEmployeeListSuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          description: Fetched employee details successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidUserIdsError"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/employees/send-invite-link:
    post:
      summary: Add Employee via Invite Link
      tags:
        - Manage Employees
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddEmployeeViaInviteLinkRequest"
      responses:
        "200":
          description: Invite link sent successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200AddedEmployeeViaInviteSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400AddEmployeeSendInviteValidationErrorResponse"
        "409":
          description: Employee email ID is already associated with another organization.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/409AddEmployeeDuplicateErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422AddEmployeeUnprocessableErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/teams:
    get:
      summary: Fetch All Teams
      tags:
        - Manage Teams
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Fetched all team details successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchTeamsListSuccessResponse"

        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: Create Team
      tags:
        - Manage Teams
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTeamRequest"
      responses:
        "200":
          description: Team created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200CreateTeamsSuccessResponse"

        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400CreateTeamValidationErrorResponse"

        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "409":
          description: Team name already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/409CreateTeamDuplicateErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

    patch:
      summary: Update Team
      tags:
        - Manage Teams
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTeamRequest"
            example:
              teamId: "c1e4416e-f57c-4614-886f-35a5541f4316"
              teamName: "Full Stack Developer"
      responses:
        "200":
          description: Team updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200UpdateTeamSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400UpdateTeamValidationErrorResponse"

        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "409":
          description: Team name already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/409CreateTeamDuplicateErrorResponse"

        "422":
          $ref: "#/components/responses/422UpdateTeamUnprocessableErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: Delete Team
      tags:
        - Manage Teams
      description: Deletes a team using teamId provided in the request body.
      operationId: deleteTeam
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteTeamRequest"
            example:
              teamId: "c0296718-3538-461b-9045-e12d11a80605"
      responses:
        "200":
          description: Team deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200TeamDeletedSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400DeleteTeamValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422DeleteTeamUnprocessableErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/teams/filter:
    post:
      summary: Fetch Teams by Team ID
      tags:
        - Manage Teams
      description: Returns team details for the given list of team IDs.
      operationId: filterTeamsByIds
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FilterTeamIdsRequest"

      responses:
        "200":
          description: Teams fetched successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchFilteredTeamsListSuccessResponse"

        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/RouteNotFoundError"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/settings/work-day:
    get:
      summary: Fetch Work Day Settings
      tags:
        - Settings
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Fetched work day settings successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchWorkDaySettingsSuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "500":
          $ref: "#/components/responses/InternalServerError"

    patch:
      summary: Update Work Day Settings
      tags:
        - Settings
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWorkDaySettingsRequest"
      responses:
        "200":
          description: Work day settings updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200UpdateWorkDaySettingsSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400UpdateWorkDaySettingsValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422InvalidUserIdUnprocessableErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/settings/expected-work-hours:
    get:
      summary: Fetch Expected Work Hours Settings
      tags:
        - Settings
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Fetched expected work hours settings successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchExpectedWorkDaySettingsSuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "500":
          $ref: "#/components/responses/InternalServerError"

    patch:
      summary: Update Expected Work Hours Settings
      tags:
        - Settings
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateExpectedWorkHourSettingsRequest"
      responses:
        "200":
          description: Expected work hours settings updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200UpdateExpectedWorkHoursSettingsSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400UpdateIdleAlertValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422InvalidUserIdUnprocessableErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/settings/screenshot:
    get:
      summary: Fetch Screenshot Settings
      tags:
        - Settings
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Fetched screenshot settings successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchScreenshotSettingsSuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "500":
          $ref: "#/components/responses/InternalServerError"

    patch:
      summary: Update Screenshot Settings
      tags:
        - Settings
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateScreenshotSettingsRequest"
      responses:
        "200":
          description: Screenshot settings updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200UpdateScreenshotSettingsSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400UpdateScreenshotSettingsValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422InvalidUserIdUnprocessableErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/settings/idle-alert:
    get:
      summary: Fetch Idle Alert Settings
      tags:
        - Settings
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Fetched expected eork hours settings successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchIdleAlertSettingsSuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "500":
          $ref: "#/components/responses/InternalServerError"

    patch:
      summary: Update Idle Alert Settings
      tags:
        - Settings
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateIdleAlertSettingsRequest"
      responses:
        "200":
          description: Idle alert settings updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200UpdateIdleAlertSettingsSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400UpdateExpectedWorkHoursValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422InvalidUserIdUnprocessableErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/settings/stealth-monitoring:
    get:
      summary: Fetch Stealth Monitoring Settings
      tags:
        - Settings
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Fetched stealth monitoring settings successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchStealthMonitoringSettingsSuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "500":
          $ref: "#/components/responses/InternalServerError"

    patch:
      summary: Update Stealth Monitoring Settings
      tags:
        - Settings
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateStealthMonitoringSettingsRequest"
      responses:
        "200":
          description: Stealth monitoring settings updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200UpdateStealthMonitoringSettingsSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400UpdateStealthMonitoringSettingsValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422InvalidUserIdUnprocessableErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/settings/default-setting:
    get:
      summary: Fetch Default Settings
      tags:
        - Settings
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Organisation settings fetched successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchDefaultSettingsSuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "500":
          $ref: "#/components/responses/InternalServerError"

    patch:
      summary: Update Default Settings
      tags:
        - Settings
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDefaultSettingsRequest"
      responses:
        "200":
          description: Default settings updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200UpdateDefaultSettingsSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400UpdateDefaultSettingsValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/access-management:
    get:
      summary: Fetch Access Role
      tags:
        - Access Control
      description: List of page-level access permissions assigned to the role.
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Fetch Access Management
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchAccessManagementSuccessResponse"

        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: Create Access Role
      tags:
        - Access Control
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccessManagementRoleRequest"
      responses:
        "200":
          description: Page-level access permissions have been successfully assigned to the role.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200CreateAccessManagementSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400CreateAccessManagementValidationErrorResponse"
        "409":
          description: A role with this name already exists. Try using a unique role name.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/409CreateAccessManagementDuplicateRoleErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "500":
          $ref: "#/components/responses/InternalServerError"

    patch:
      summary: Update Access Role
      tags:
        - Access Control
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAccessManagementRoleRequest"
      responses:
        "200":
          description: Role updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200UpdateAccessManagementSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400UpdateAccessManagementValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "409":
          description: Role name already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/409UpdateDuplicateRoleErrorResponse"

        "422":
          description: Unprocessable Entity – Invalid roleId
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/422UpdateRoleIdNotFoundErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: Delete Access Role
      tags:
        - Access Control
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteAccessManagementRoleRequest"

      responses:
        "200":
          description: Role deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200DeleteAccessManagementSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400DeleteAccessManagementValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          description: Unprocessable Entity – Invalid roleId
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/422DeleteRoleIdNotFoundErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    
  parameters:
    UserIdParam:
      name: userId
      in: path
      required: true
      description: User ID of the team member
      schema:
        type: string
        format: uuid
        example: "ab7c4f30-1024-471a-a767-739df0dc53fd"

    TimeZoneQuery:
      name: timeZone
      in: query
      required: true
      description: Timezone for logs calculation
      schema:
        type: string
        example: "Asia/Kolkata"

  responses:
    UnauthorizedError:
      description: Authentication & Authorization errors
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            authorizationHeaderMissing:
              summary: Authorization header missing
              value:
                success: false
                statusCode: 401
                statusMessage: Authentication token header is missing
                data: null
                error:
                  message: Authorization header is missing
                  code: AUTHORIZATION_HEADER_MISSING

            invalidAuthorizationScheme:
              summary: Invalid authorization scheme
              value:
                success: false
                statusCode: 401
                statusMessage: Invalid authentication token schema
                data: null
                error:
                  message: Authorization header must start with 'Bearer'
                  code: INVALID_API_KEY_SCHEMA

            apiKeyMissing:
              summary: API key missing
              value:
                success: false
                statusCode: 401
                statusMessage: Authentication token is missing
                data: null
                error:
                  message: API key value is missing
                  code: API_KEY_MISSING

            invalidApiKey:
              summary: Invalid or inactive API key
              value:
                success: false
                statusCode: 401
                statusMessage: Authentication failed
                data: null
                error:
                  message: Provided API key is invalid or inactive
                  code: INVALID_API_KEY

    RouteNotFoundError:
      description: Route does not exist
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/RouteNotFound"

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/InternalServerError"

    422UnprocessableUserIdorTeamIdErrorResponse:
      description: Unprocessable Entity – Invalid userId or teamIds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/422UnprocessableUserIdorTeamIdErrorSchema"
          examples:
            invalidUserId:
              summary: Invalid userId
              value:
                success: false
                statusCode: 422
                statusMessage: "Invalid userId"
                response: null
                error:
                  message: "Provided userId does not exist for this organisation"
                  code: INVALID_USER_ID

            invalidTeamId:
              summary: Invalid teamId
              value:
                success: false
                statusCode: 422
                statusMessage: "Invalid teamId"
                response: null
                error:
                  message: "One or more teamIds are invalid for this organisation"
                  code: INVALID_TEAM_ID

    422UnprocessableUserIdErrorResponse:
      description: Unprocessable Entity – Invalid userId
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/422UnprocessableUserIdErrorSchema"
         

    422AddEmployeeUnprocessableErrorResponse:
      description: Unprocessable Entity – Invalid roleId or teamIds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/422CreateEmployeeSendInviteUnprocessableErrorSchema"
          examples:
            invalidRoleId:
              summary: Invalid roleId
              value:
                success: false
                statusCode: 422
                statusMessage: "Invalid roleId"
                response: null
                error:
                  message: "Provided roleId does not exist for this organisation"
                  code: INVALID_ROLE_ID

            invalidTeamId:
              summary: Invalid teamId
              value:
                success: false
                statusCode: 422
                statusMessage: "Invalid teamId"
                response: null
                error:
                  message: "One or more teamIds are invalid for this organisation"
                  code: INVALID_TEAM_ID

    422UpdateEmployeeUnprocessableErrorResponse:
      description: Unprocessable Entity – Invalid userId or roleId or teamIds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/422UpdateEmployeeUnprocessableErrorSchema"
          examples:
            invalidUserId:
              summary: Invalid userId
              value:
                success: false
                statusCode: 422
                statusMessage: "Invalid userId"
                response: null
                error:
                  message: "Provided userId does not exist for this organisation"
                  code: INVALID_USER_ID

            invalidRoleId:
              summary: Invalid roleId
              value:
                success: false
                statusCode: 422
                statusMessage: "Invalid roleId"
                response: null
                error:
                  message: "Provided roleId does not exist for this organisation"
                  code: INVALID_ROLE_ID

            invalidTeamId:
              summary: Invalid teamId
              value:
                success: false
                statusCode: 422
                statusMessage: "Invalid teamId"
                response: null
                error:
                  message: "One or more teamIds are invalid for this organisation"
                  code: INVALID_TEAM_ID

    422UpdateTeamUnprocessableErrorResponse:
      description: Unprocessable Entity – Invalid teamId
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/422UpdateTeamUnprocessableErrorSchema"
          examples:
            invalidTeamId:
              summary: Invalid teamId
              value:
                success: false
                statusCode: 422
                statusMessage: "Invalid teamId"
                response: null
                error:
                  message: "Provided teamId does not exist for this organisation"
                  code: INVALID_TEAM_ID

    422DeleteEmployeeUnprocessableErrorResponse:
      description: Unprocessable Entity – Invalid userId
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/422DeleteEmployeeUnprocessableErrorSchema"
          examples:
            invalidUserId:
              summary: Invalid userId
              value:
                success: false
                statusCode: 422
                statusMessage: "Invalid userId"
                response: null
                error:
                  message: "Provided userId does not exist for this organisation"
                  code: INVALID_USER_ID

    422DeleteTeamUnprocessableErrorResponse:
      description: Unprocessable Entity – Invalid teamId
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/422DeleteTeamUnprocessableErrorSchema"
          examples:
            invalidTeamId:
              summary: Invalid teamId
              value:
                success: false
                statusCode: 422
                statusMessage: "Invalid teamId"
                response: null
                error:
                  message: "Provided teamId does not exist for this organisation"
                  code: INVALID_TEAM_ID

    422InvalidUserIdUnprocessableErrorResponse:
      description: Unprocessable Entity – Invalid userId
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/422InvalidUserIdSchema"
          examples:
            invalidTeamId:
              summary: Invalid userId
              value:
                success: false
                statusCode: 422
                statusMessage: "Invalid userId"
                response: null
                error:
                  message: "Provided userId does not exist for this organisation"
                  code: INVALID_USER_ID

  schemas:
    200FetchDefaultSettingsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

        statusCode:
          type: integer
          example: 200

        statusMessage:
          type: string
          example: Fetched all team details successfully

        error:
          type: object
          nullable: true
          example: null

        data:
          type: object
          properties:
            workDaySettings:
              type: object
              properties:
                workDays:
                  type: array
                  items:
                    type: string
                    enum:
                      - monday
                      - tuesday
                      - wednesday
                      - thursday
                      - friday
                      - saturday
                      - sunday
                  example:
                    - monday
                    - tuesday
                    - wednesday
                    - thursday
                    - friday
                    - saturday

            workHourSettings:
              type: object
              properties:
                expectedWorkMinutesPerDay:
                  type: integer
                  example: 480
                expectedProductiveWorkMinutesPerDay:
                  type: integer
                  example: 360
                expectedInTime:
                  type: string
                  example: "10:30 am"

            idleAlertSettings:
              type: object
              properties:
                minimumIdleTimeMinutes:
                  type: integer
                  example: 5
                enableIdleTimeAlert:
                  type: boolean
                  example: true
                # idleAutoLogout:
                #   type: boolean
                #   example: true

            screenshotSettings:
              type: object
              properties:
                enableScreenCapture:
                  type: boolean
                  example: true
                enableBlurScreenCapture:
                  type: boolean
                  example: true
                screenCaptureIntervalMinutes:
                  type: integer
                  example: 10

            timezoneSettings:
              type: object
              properties:
                timezone:
                  type: string
                  example: Asia/Barnaul

            stealthMonitoringSettings:
              type: object
              properties:
                enableStealthMonitoring:
                  type: boolean
                  example: true

            billingSettings:
              type: object
              properties:
                pricingPlan:
                  type: string
                  enum:
                    - free
                    - starter
                  example: starter

    200FetchWorkDaySettingsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Fetched work day settings successfully
        error:
          type: object
          nullable: true
          example: null
        data:
          type: array
          items:
            type: object
            properties:
              userId:
                type: string
                format: uuid
                example: f0ad9ad9-d421-48dc-868d-9760e33e5089
              userName:
                type: string
                example: Abirami Kannan
              emailId:
                type: string
                format: email
                example: abiramikannan2006@gmail.com
              profilePicUrl:
                type: string
                nullable: true
                example: https://trackpilots.s3.amazonaws.com/profile-pic/sample.png
              workDaySettings:
                type: object
                properties:
                  workDays:
                    type: array
                    items:
                      type: string
                      enum:
                        - monday
                        - tuesday
                        - wednesday
                        - thursday
                        - friday
                        - saturday
                        - sunday
            example:
              - userId: f0ad9ad9-d421-48dc-868d-9760e33e5089
                userName: Abirami Kannan
                emailId: abiramikannan2006@gmail.com
                profilePicUrl: null
                workDaySettings:
                  workDays:
                    - monday
                    - wednesday
                    - thursday
                    - friday
                    - tuesday
                    - saturday

              - userId: b514fe51-df34-414e-8bec-9dcdd23cde23
                userName: Swetha Senthil
                emailId: senthilsundari2802@gmail.com
                profilePicUrl: https://trackpilots.s3.amazonaws.com/profile-pic/9b8090ae-e4c9-49ee-9dbf-62817262d05a.jpeg
                workDaySettings:
                  workDays:
                    - tuesday
                    - thursday
                    - friday
                    - saturday
                    - wednesday

              - userId: ab7c4f30-1024-471a-a767-739df0dc53fd
                userName: Sakthivel Govinthan
                emailId: sakthiveltechit@gmail.com
                profilePicUrl: https://trackpilots.s3.amazonaws.com/profile-pic/9b8090ae-e4c9-49ee-9dbf-62817262d05a.png
                workDaySettings:
                  workDays:
                    - monday
                    - tuesday
                    - wednesday
                    - thursday
                    - friday

    200FetchExpectedWorkDaySettingsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Fetched expected work day settings successfully
        error:
          type: object
          nullable: true
          example: null
        data:
          type: array
          items:
            type: object
            properties:
              userId:
                type: string
                format: uuid
                example: f0ad9ad9-d421-48dc-868d-9760e33e5089
              userName:
                type: string
                example: Abirami Kannan
              emailId:
                type: string
                format: email
                example: abiramikannan2006@gmail.com
              profilePicUrl:
                type: string
                nullable: true
                example: https://trackpilots.s3.amazonaws.com/profile-pic/sample.png
              workHourSettings:
                type: object
                properties:
                  expectedWorkMinutesPerDay:
                    type: integer
                    example: 480
                  expectedProductiveWorkMinutesPerDay:
                    type: integer
                    example: 360
                  expectedInTime:
                    type: string
                    example: "12:30 am"
          example:
            - userId: f0ad9ad9-d421-48dc-868d-9760e33e5089
              userName: Abirami Kannan
              emailId: abiramikannan2006@gmail.com
              profilePicUrl: null
              workHourSettings:
                expectedWorkMinutesPerDay: 480
                expectedProductiveWorkMinutesPerDay: 360
                expectedInTime: "12:30 am"

            - userId: b514fe51-df34-414e-8bec-9dcdd23cde23
              userName: Swetha Senthil
              emailId: senthilsundari2802@gmail.com
              profilePicUrl: https://trackpilots.s3.amazonaws.com/profile-pic/9b8090ae-e4c9-49ee-9dbf-62817262d05a.jpeg
              workHourSettings:
                expectedWorkMinutesPerDay: 480
                expectedProductiveWorkMinutesPerDay: 360
                expectedInTime: "12:30 am"

            - userId: ab7c4f30-1024-471a-a767-739df0dc53fd
              userName: Sakthivel Govinthan
              emailId: sakthiveltechit@gmail.com
              profilePicUrl: https://trackpilots.s3.amazonaws.com/profile-pic/9b8090ae-e4c9-49ee-9dbf-62817262d05a.png
              workHourSettings:
                expectedWorkMinutesPerDay: 480
                expectedProductiveWorkMinutesPerDay: 360
                expectedInTime: "12:30 am"

    200FetchScreenshotSettingsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Fetched screenshot settings successfully
        error:
          type: object
          nullable: true
          example: null
        data:
          type: array
          items:
            type: object
            properties:
              userId:
                type: string
                format: uuid
                example: f0ad9ad9-d421-48dc-868d-9760e33e5089
              userName:
                type: string
                example: Abirami Kannan
              emailId:
                type: string
                format: email
                example: abiramikannan2006@gmail.com
              profilePicUrl:
                type: string
                nullable: true
                example: https://trackpilots.s3.amazonaws.com/profile-pic/sample.png
              screenshotSettings:
                type: object
                properties:
                  enableScreenCapture:
                    type: boolean
                    example: true
                  enableBlurScreenCapture:
                    type: boolean
                    example: false
                  screenCaptureIntervalMinutes:
                    type: integer
                    example: 2

          example:
            - userId: f0ad9ad9-d421-48dc-868d-9760e33e5089
              userName: Abirami Kannan
              emailId: abiramikannan2006@gmail.com
              profilePicUrl: https://trackpilots.s3.amazonaws.com/profile-pic/9b8090ae-e4c9-49ee-9dbf-62817262d05a.jpeg
              screenshotSettings:
                enableScreenCapture: true
                enableBlurScreenCapture: false
                screenCaptureIntervalMinutes: 5

            - userId: b514fe51-df34-414e-8bec-9dcdd23cde23
              userName: Swetha Senthil
              emailId: senthilsundari2802@gmail.com
              profilePicUrl: https://trackpilots.s3.amazonaws.com/profile-pic/9b8090ae-e4c9-49ee-9dbf-62817262d05a.jpeg
              screenshotSettings:
                enableScreenCapture: false
                enableBlurScreenCapture: true
                screenCaptureIntervalMinutes: 1

            - userId: ab7c4f30-1024-471a-a767-739df0dc53fd
              userName: Sakthivel Govinthan
              emailId: sakthiveltechit@gmail.com
              profilePicUrl: https://trackpilots.s3.amazonaws.com/profile-pic/9b8090ae-e4c9-49ee-9dbf-62817262d05a.png
              screenshotSettings:
                enableScreenCapture: true
                enableBlurScreenCapture: true
                screenCaptureIntervalMinutes: 10

    200FetchStealthMonitoringSettingsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Fetched stealth monitoring settings successfully
        error:
          type: object
          nullable: true
          example: null
        data:
          type: array
          items:
            type: object
            properties:
              userId:
                type: string
                format: uuid
                example: f0ad9ad9-d421-48dc-868d-9760e33e5089
              userName:
                type: string
                example: Abirami Kannan
              emailId:
                type: string
                format: email
                example: abiramikannan2006@gmail.com
              profilePicUrl:
                type: string
                nullable: true
                example: https://trackpilots.s3.amazonaws.com/profile-pic/sample.png
              stealthMonitoringSettings:
                type: object
                properties:
                  enableStealthMonitoring:
                    type: boolean
                    example: true

          example:
            - userId: f0ad9ad9-d421-48dc-868d-9760e33e5089
              userName: Abirami Kannan
              emailId: abiramikannan2006@gmail.com
              profilePicUrl: null
              stealthMonitoringSettings:
                enableStealthMonitoring: true

            - userId: b514fe51-df34-414e-8bec-9dcdd23cde23
              userName: Swetha Senthil
              emailId: senthilsundari2802@gmail.com
              profilePicUrl: https://trackpilots.s3.amazonaws.com/profile-pic/9b8090ae-e4c9-49ee-9dbf-62817262d05a.jpeg
              stealthMonitoringSettings:
                enableStealthMonitoring: false

            - userId: ab7c4f30-1024-471a-a767-739df0dc53fd
              userName: Sakthivel Govinthan
              emailId: sakthiveltechit@gmail.com
              profilePicUrl: https://trackpilots.s3.amazonaws.com/profile-pic/9b8090ae-e4c9-49ee-9dbf-62817262d05a.png
              stealthMonitoringSettings:
                enableStealthMonitoring: true

    200FetchIdleAlertSettingsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Fetched idle alert settings successfully
        error:
          type: object
          nullable: true
          example: null
        data:
          type: array
          items:
            type: object
            properties:
              userId:
                type: string
                format: uuid
                example: f0ad9ad9-d421-48dc-868d-9760e33e5089
              userName:
                type: string
                example: Abirami Kannan
              emailId:
                type: string
                format: email
                example: abiramikannan2006@gmail.com
              profilePicUrl:
                type: string
                nullable: true
                example: https://trackpilots.s3.amazonaws.com/profile-pic/sample.png
              idleAlertSettings:
                type: object
                properties:
                  minimumIdleTimeMinutes:
                    type: integer
                    example: 2
                  enableIdleTimeAlert:
                    type: boolean
                    example: true
          example:
            - userId: f0ad9ad9-d421-48dc-868d-9760e33e5089
              userName: Abirami Kannan
              emailId: abiramikannan2006@gmail.com
              profilePicUrl: null
              idleAlertSettings:
                minimumIdleTimeMinutes: 10
                enableIdleTimeAlert: true

            - userId: b514fe51-df34-414e-8bec-9dcdd23cde23
              userName: Swetha Senthil
              emailId: senthilsundari2802@gmail.com
              profilePicUrl: https://trackpilots.s3.amazonaws.com/profile-pic/9b8090ae-e4c9-49ee-9dbf-62817262d05a.jpeg
              idleAlertSettings:
                minimumIdleTimeMinutes: 3
                enableIdleTimeAlert: false

            - userId: ab7c4f30-1024-471a-a767-739df0dc53fd
              userName: Sakthivel Govinthan
              emailId: sakthiveltechit@gmail.com
              profilePicUrl: https://trackpilots.s3.amazonaws.com/profile-pic/9b8090ae-e4c9-49ee-9dbf-62817262d05a.png
              idleAlertSettings:
                minimumIdleTimeMinutes: 5
                enableIdleTimeAlert: false

    200UpdateExpectedWorkHoursSettingsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Expected work hours settings updated successfully
        error:
          type: object
          nullable: true
          example: null
        data:
          type: object
          properties:
            userID:
              type: string
              format: uuid
              example: 8126cc3e-ca66-4c02-83f5-06273452120d
            workHourSettings:
              type: object
              properties:
                expectedWorkMinutesPerDay:
                  type: integer
                  example: 480
                expectedProductiveWorkMinutesPerDay:
                  type: integer
                  example: 360
                expectedInTime:
                  type: string
                  example: "10:30 am"

    200UpdateStealthMonitoringSettingsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Stealth monitoring settings updated successfully
        error:
          type: object
          nullable: true
          example: null
        data:
          type: object
          properties:
            userID:
              type: string
              format: uuid
              example: 8126cc3e-ca66-4c02-83f5-06273452120d
            stealthMonitoringSettings:
              type: object
              properties:
                enableStealthMonitoring:
                  type: boolean
                  example: true

    200UpdateScreenshotSettingsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Screenshot settings updated successfully
        error:
          type: object
          nullable: true
          example: null
        data:
          type: object
          properties:
            userID:
              type: string
              format: uuid
              example: 8126cc3e-ca66-4c02-83f5-06273452120d
            screenshotSettings:
              type: object
              properties:
                enableScreenCapture:
                  type: boolean
                  example: true
                enableBlurScreenCapture:
                  type: boolean
                  example: false
                screenCaptureIntervalMinutes:
                  type: integer
                  example: 5

    200UpdateIdleAlertSettingsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Idle alert settings updated successfully
        error:
          type: object
          nullable: true
          example: null
        data:
          type: object
          properties:
            userID:
              type: string
              format: uuid
              example: 8126cc3e-ca66-4c02-83f5-06273452120d
            idleAlertSettings:
              type: object
              properties:
                minimumIdleTimeMinutes:
                  type: integer
                  example: 5
                enableIdleTimeAlert:
                  type: boolean
                  example: true

    200UpdateWorkDaySettingsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Work day settings updated successfully
        error:
          nullable: true
          example: null
        data:
          type: object
          properties:
            userId:
              type: string
              format: uuid
              example: f0ad9ad9-d421-48dc-868d-9760e33e5089
            workDaySettings:
              type: object
              properties:
                workDays:
                  type: array
                  items:
                    type: string
                    enum:
                      - monday
                      - tuesday
                      - wednesday
                      - thursday
                      - friday
                      - saturday
                      - sunday
                  example:
                    - monday
                    - wednesday
                    - thursday
                    - friday
                    - tuesday
                    - saturday

    200UpdateDefaultSettingsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

        statusCode:
          type: integer
          example: 200

        statusMessage:
          type: string
          example: Default settings updated successfully

        error:
          type: object
          nullable: true
          example: null

        data:
          type: object
          properties:
            workDaySettings:
              type: object
              properties:
                workDays:
                  type: array
                  items:
                    type: string
                    enum:
                      - monday
                      - tuesday
                      - wednesday
                      - thursday
                      - friday
                      - saturday
                      - sunday
                  example:
                    - monday
                    - tuesday
                    - wednesday
                    - thursday
                    - friday
                    - saturday

            workHourSettings:
              type: object
              properties:
                expectedWorkMinutesPerDay:
                  type: integer
                  example: 480
                expectedProductiveWorkMinutesPerDay:
                  type: integer
                  example: 360
                expectedInTime:
                  type: string
                  example: "10:30 am"

            idleAlertSettings:
              type: object
              properties:
                minimumIdleTimeMinutes:
                  type: integer
                  example: 5
                enableIdleTimeAlert:
                  type: boolean
                  example: true
                # idleAutoLogout:
                #   type: boolean
                #   example: true

            screenshotSettings:
              type: object
              properties:
                enableScreenCapture:
                  type: boolean
                  example: true
                enableBlurScreenCapture:
                  type: boolean
                  example: true
                screenCaptureIntervalMinutes:
                  type: integer
                  example: 10

            timezoneSettings:
              type: object
              properties:
                timezone:
                  type: string
                  example: Asia/Barnaul

            stealthMonitoringSettings:
              type: object
              properties:
                enableStealthMonitoring:
                  type: boolean
                  example: true

    200FetchEmployeeListSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

        statusCode:
          type: integer
          example: 200

        statusMessage:
          type: string
          example: Fetched all employee details successfully

        error:
          type: object
          nullable: true
          example: null

        data:
          type: array
          items:
            type: object
            properties:
              userId:
                type: string
                format: uuid
                example: f0ad9ad9-d421-48dc-868d-9760e33e5089

              userName:
                type: string
                example: Abirami Kannan

              emailId:
                type: string
                format: email
                example: abiramikannan2006@gmail.com

              uniqueUrl:
                type: string
                example: 6Vx3kEA8VU0q

              profilePicUrl:
                type: string
                nullable: true
                example: null

              teamId:
                type: array
                items:
                  type: object
                  properties:
                    teamId:
                      type: string
                      format: uuid
                      example: 3d4c2ced-f4d6-42ea-b6db-7dcf24a77845
                    teamName:
                      type: string
                      example: Frontend Team
                example:
                  - teamId: c1e4416e-f57c-4614-886f-35a5541f4316
                    teamName: Full Stack Developer
                  - teamId: a2b5416e-f57c-4614-886f-35a5541f4321
                    teamName: Backend Team
                  - teamId: d9f4416e-f57c-4614-886f-35a5541f4399
                    teamName: UI/UX Team

              accountStatus:
                type: string
                enum: [active, invited]
                example: active

              roleId:
                type: string
                format: uuid
                example: 271e6693-2130-4ea9-b02d-e6d57516186d

              roleName:
                type: string
                example: No Access

              workMode:
                type: string
                enum: [office, remote, hybrid]
                example: hybrid

    200FetchFilteredEmployeeListSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

        statusCode:
          type: integer
          example: 200

        statusMessage:
          type: string
          example: Fetched employee details successfully

        error:
          type: object
          nullable: true
          example: null

        data:
          type: array
          items:
            type: object
            properties:
              userId:
                type: string
                format: uuid
                example: f0ad9ad9-d421-48dc-868d-9760e33e5089

              userName:
                type: string
                example: Abirami Kannan

              emailId:
                type: string
                format: email
                example: abiramikannan2006@gmail.com

              uniqueUrl:
                type: string
                example: 6Vx3kEA8VU0q

              profilePicUrl:
                type: string
                nullable: true
                example: null

              teamId:
                type: array
                items:
                  type: object
                  properties:
                    teamId:
                      type: string
                      format: uuid
                      example: 3d4c2ced-f4d6-42ea-b6db-7dcf24a77845
                    teamName:
                      type: string
                      example: Frontend Team
                example:
                  - teamId: c1e4416e-f57c-4614-886f-35a5541f4316
                    teamName: Full Stack Developer
                  - teamId: a2b5416e-f57c-4614-886f-35a5541f4321
                    teamName: Backend Team
                  - teamId: d9f4416e-f57c-4614-886f-35a5541f4399
                    teamName: UI/UX Team

              accountStatus:
                type: string
                enum: [active, invited]
                example: active

              roleId:
                type: string
                format: uuid
                example: 271e6693-2130-4ea9-b02d-e6d57516186d

              roleName:
                type: string
                example: No Access

              workMode:
                type: string
                enum: [office, remote, hybrid]
                example: hybrid

    200FetchTeamsListSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Fetched all team details successfully
        error:
          type: object
          nullable: true
          example: null
        data:
          type: array
          example:
            - teamId: c1e4416e-f57c-4614-886f-35a5541f4316
              teamName: Full Stack Developer
            - teamId: a2b5416e-f57c-4614-886f-35a5541f4321
              teamName: Backend Team
            - teamId: d9f4416e-f57c-4614-886f-35a5541f4399
              teamName: UI/UX Team

    200FetchFilteredTeamsListSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Fetched team details successfully
        error:
          type: object
          nullable: true
          example: null
        data:
          type: array
          example:
            - teamId: c1e4416e-f57c-4614-886f-35a5541f4316
              teamName: Full Stack Developer

    200CreateTeamsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Fetched all team details successfully
        error:
          type: object
          nullable: true
          example: null
        data:
          type: object
          properties:
            teamId:
              type: string
              format: uuid
              example: c1e4416e-f57c-4614-886f-35a5541f4316
            teamName:
              type: string
              example: Full Stack Developer

    400CreateTeamValidationErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          example: 400

        statusMessage:
          type: string
          example: "Failed to create team"

        data:
          type: object
          nullable: true
          example: null

        error:
          type: object
          properties:
            message:
              type: string
              example: "Request body is not valid"

            code:
              type: string
              example: "REQUEST_VALIDATION_FAILED"

            details:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: array
                    items:
                      type: string
                    example:
                      - "teamName"

                  message:
                    type: string
                    example: "Invalid input: expected string, received undefined"

    200FetchAccessManagementSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Role management retrieved successfully
        error:
          type: object
          nullable: true
          example: null
        data:
          type: array
          items:
            type: object
            properties:
              roleId:
                type: string
                format: uuid
                example: 4cf4bf1c-e564-40ab-9402-26e9b99a46fb
              roleName:
                type: string
                example: Admin
              roleData:
                type: array
                items:
                  type: object
                  properties:
                    path:
                      type: string
                      example: /my-team
                    access:
                      type: string
                      enum:
                        - Full Access
                        - Team Data
                        - Own Data
                      example: Full Access
                example:
                  - path: "/"
                    access: "Full Access"
                  - path: "/my-team"
                    access: "Full Access"
                  - path: "/insights/productivity-analysis"
                    access: "Team Data"
                  - path: "/proof-of-work/screenshot"
                    access: "Team Data"
                  - path: "/proof-of-work/timesheet"
                    access: "Own Data"

    200AddedEmployeeViaInviteSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

        statusCode:
          type: integer
          format: int32
          example: 200

        statusMessage:
          type: string
          example: "Invite link sent successfully"

        error:
          nullable: true
          example: null

        response:
          type: object
          properties:
            userName:
              type: string
              example: "Jagatheesan M"

            emailId:
              type: string
              format: email
              example: "mjagatheesan.g@gmail.com"

            userId:
              type: string
              format: uuid
              example: "7f9a0d29-c3a3-419a-87f6-11c34948cf7e"

    200FetchMyTeamResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: "Fetched user work summary successfully"
        error:
          type: string
          nullable: true
          example: null
        data:
          type: array
          items:
            type: object
            properties:
              user:
                type: object
                properties:
                  userId:
                    type: string
                    format: uuid
                    example: "ab7c4f30-1024-471a-a767-739df0dc53fd"
                  name:
                    type: string
                    example: "Sakthivel Govinthan"
                  profilePicUrl:
                    type: string
                    format: uri
                    example: "https://trackpilots.s3.amazonaws.com/profile-pic/sample.png"

              timeSummary:
                type: object
                properties:
                  totalWorkedTimeInSeconds:
                    type: integer
                    example: 1660
                  activeWorkedTimeInSeconds:
                    type: integer
                    example: 1660
                  idleWorkedTimeInSeconds:
                    type: integer
                    example: 0
                  productiveWorkedTimeInSeconds:
                    type: integer
                    example: 1485
                  unproductiveWorkedTimeInSeconds:
                    type: integer
                    example: 0
                  neutralWorkedTimeInSeconds:
                    type: integer
                    example: 175

              session:
                type: object
                properties:
                  inTime:
                    type: string
                    format: date-time
                    example: "2026-02-12T04:32:01.676Z"
                  outTime:
                    type: string
                    format: date-time
                    nullable: true
                    example: null
                  isWorking:
                    type: boolean
                    example: true

    200FetchMyTeamTimeLogsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: "Fetched user work summary successfully"
        error:
          type: string
          nullable: true
          example: null
        data:
          type: object
          properties:
              user:
                type: object
                properties:
                  userId:
                    type: string
                    format: uuid
                    example: "ab7c4f30-1024-471a-a767-739df0dc53fd"
                  name:
                    type: string
                    example: "Sakthivel Govinthan"
                  profilePicUrl:
                    type: string
                    format: uri
                    example: "https://trackpilots.s3.amazonaws.com/profile-pic/sample.png"

              timeSummary:
                type: object
                properties:
                  totalWorkedTimeInSeconds:
                    type: integer
                    example: 1660
                  activeWorkedTimeInSeconds:
                    type: integer
                    example: 1660
                  idleWorkedTimeInSeconds:
                    type: integer
                    example: 0
                  productiveWorkedTimeInSeconds:
                    type: integer
                    example: 1485
                  unproductiveWorkedTimeInSeconds:
                    type: integer
                    example: 0
                  neutralWorkedTimeInSeconds:
                    type: integer
                    example: 175

              session:
                type: object
                properties:
                  inTime:
                    type: string
                    format: date-time
                    example: "2026-02-12T04:32:01.676Z"
                  outTime:
                    type: string
                    format: date-time
                    nullable: true
                    example: null
                  isWorking:
                    type: boolean
                    example: true
            

    200FetchDashboardEmployeeRecentActivityResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

        statusCode:
          type: integer
          example: 200

        statusMessage:
          type: string
          example: "Fetched employee recent activity successfully"

        error:
          type: object
          nullable: true
          example: null

        data:
          type: object
          properties:
            meta:
              type: object
              properties:
                totalUsers:
                  type: integer
                  description: Total number of connected users
                  example: 1

                workModeUsers:
                  type: integer
                  description: Number of users in work mode
                  example: 0

                privacyModeUsers:
                  type: integer
                  description: Number of users in privacy mode
                  example: 0

            users:
              type: array
              items:
                type: object
                properties:
                  userId:
                    type: string
                    format: uuid
                    example: "ab7c4f30-1024-471a-a767-739df0dc53fd"

                  userName:
                    type: string
                    example: "Sakthivel Govinthan"

                  profilePicUrl:
                    type: string
                    format: uri
                    example: "https://trackpilots.s3.amazonaws.com/profile-pic/xyz.png"

                  presence:
                    type: object
                    properties:
                      currentMode:
                        type: string
                        enum:
                          - workMode
                          - privacyMode
                        example: "workMode"

                      modeSinceUtc:
                        type: string
                        format: date-time
                        example: "2026-02-11T14:21:41.052Z"

                  connectedAt:
                    type: string
                    format: date-time
                    description: User socket connection timestamp
                    example: "2026-02-11T12:01:26.450Z"

    200FetchMyTeamWorkSummarySuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

        statusCode:
          type: integer
          example: 200

        statusMessage:
          type: string
          example: "Fetched my team time logs successfully"

        error:
          type: "null"
          nullable: true
          example: null

        data:
          type: object
          properties:
            timeSummary:
              type: object
              description: Aggregated time tracking metrics in seconds
              properties:
                totalWorkedTimeInSeconds:
                  type: integer
                  format: int64
                  example: 13665
                activeWorkedTimeInSeconds:
                  type: integer
                  format: int64
                  example: 11724
                idleWorkedTimeInSeconds:
                  type: integer
                  format: int64
                  example: 1941
                productiveWorkedTimeInSeconds:
                  type: integer
                  format: int64
                  example: 8982
                unproductiveWorkedTimeInSeconds:
                  type: integer
                  format: int64
                  example: 0
                neutralWorkedTimeInSeconds:
                  type: integer
                  format: int64
                  example: 2742

            activityStats:
              type: object
              description: Activity and workforce statistics
              properties:
                appsVisitedCount:
                  type: integer
                  example: 235
                websitesVisitedCount:
                  type: integer
                  example: 124


    200FetchDashboardWorkSummarySuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

        statusCode:
          type: integer
          example: 200

        statusMessage:
          type: string
          example: "Fetched work summary successfully"

        error:
          type: "null"
          nullable: true
          example: null

        data:
          type: object
          properties:
            timeSummary:
              type: object
              description: Aggregated time tracking metrics in seconds
              properties:
                totalWorkedTimeInSeconds:
                  type: integer
                  format: int64
                  example: 13665
                activeWorkedTimeInSeconds:
                  type: integer
                  format: int64
                  example: 11724
                idleWorkedTimeInSeconds:
                  type: integer
                  format: int64
                  example: 1941
                productiveWorkedTimeInSeconds:
                  type: integer
                  format: int64
                  example: 8982
                unproductiveWorkedTimeInSeconds:
                  type: integer
                  format: int64
                  example: 0
                neutralWorkedTimeInSeconds:
                  type: integer
                  format: int64
                  example: 2742

            activityStats:
              type: object
              description: Activity and workforce statistics
              properties:
                appsVisitedCount:
                  type: integer
                  example: 235
                websitesVisitedCount:
                  type: integer
                  example: 124
                totalTeamMembers:
                  type: integer
                  example: 35

    200FetchMyTeamAppsAndWebsitesResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

        statusCode:
          type: integer
          example: 200

        statusMessage:
          type: string
          example: "Fetched apps and websites successfully"

        error:
          type: "null"
          example: null

        data:
          type: object
          properties:
            summary:
              type: object
              properties:
                totalTimeSpentSeconds:
                  type: integer
                  format: int64
                  example: 122404
                websiteTimeSpentSeconds:
                  type: integer
                  format: int64
                  example: 44520
                appsTimeSpentSeconds:
                  type: integer
                  format: int64
                  example: 77884

            websiteUsage:
               type: object
               properties:
                  totalWebsiteTimeSpentSeconds:
                    type: integer
                    format: int64
                    example: 44520
                  websites:
                    type: array
                    items:
                      type: object
                      properties:
                        domain:
                          type: string
                          example: "chatgpt.com"
                        iconUrl:
                          type: string
                          format: uri
                          nullable: true
                          example: "https://chatgpt.com/favicon.ico"
                        timeSpentSeconds:
                          type: integer
                          format: int64
                          example: 8375
              
            appsUsage:
              type: object
              properties:
                totalAppsTimeSpentSeconds:
                  type: integer
                  format: int64
                  example: 77884
                apps:
                  type: array
                  items:
                    type: object
                    properties:
                      appName:
                        type: string
                        example: "Visual Studio Code"
                      iconUrl:
                        type: string
                        format: uri
                        nullable: true
                        example: "https://trackpilots.s3.amazonaws.com/app-icon/vscode.png"
                      timeSpentSeconds:
                        type: integer
                        format: int64
                        example: 41823

    200FetchDashboardAppsAndWebsitesResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

        statusCode:
          type: integer
          example: 200

        statusMessage:
          type: string
          example: "Fetched apps and websites successfully"

        error:
          type: "null"
          example: null

        data:
          type: object
          properties:
            summary:
              type: object
              properties:
                totalTimeSpentSeconds:
                  type: integer
                  format: int64
                  example: 122404
                websiteTimeSpentSeconds:
                  type: integer
                  format: int64
                  example: 44520
                appsTimeSpentSeconds:
                  type: integer
                  format: int64
                  example: 77884

            websiteUsage:
               type: object
               properties:
                  totalWebsiteTimeSpentSeconds:
                    type: integer
[...]
