openapi: 3.1.0

info:
  title: TrackPilots API & Webhooks
  version: 1.1.0
  description: |
    Trackpilots REST APIs and Webhook events.
    Webhooks are sent by the Trackpilots desktop agent to customer-configured endpoints.
    Clients only send `secret_key`. All other fields are generated by the server.

servers:
  - url: https://api.trackpilots.com
    description: Production server

tags:
  - name: Teams
    description: Team management APIs

  - name: Desktop Events
    description: Desktop agent webhook events

webhooks:
  desktop.activity_tracking.captured:
    post:
      summary: Activity Tracking Event
      description: >
        Triggered when a user's activity state changes on the desktop
        (work or privacy). This event indicates whether the user is
        currently in work mode or privacy mode.
      tags:
        - Desktop Events
      responses:
        "200":
          description: Webhook received and processed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesktopActivityTrackingCapturedEvent"

  desktop.app_tracking.captured:
    post:
      summary: App Tracking Event
      description: >
        Triggered when the desktop app tracked the application and websites.
        This event contains detailed information about the application,
        time spent, and context of the switch.
      tags:
        - Desktop Events
      responses:
        "200":
          description: Webhook received and processed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesktopAppTrackingCapturedEvent"

  desktop.screenshot_tracking.captured:
    post:
      summary: Screenshot  Tracking Event
      description: >
        Triggered when a screenshot is captured on the user's desktop.
        The payload includes screenshot metadata and one or more
        Base64-encoded image buffers.
      tags:
        - Desktop Events
      responses:
        "200":
          description: Webhook received and processed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesktopScreenshotCapturedEvent"

paths:
  /v1/default/settings:
    get:
      summary: Default Settings
      tags:
        - Default Settings
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Organisation settings fetched successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchDefaultSettingsSuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "500":
          $ref: "#/components/responses/InternalServerError"

    patch:
      summary: Update Default Settings
      tags:
        - Default Settings
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDefaultSettingsRequest"
      responses:
        "200":
          description: Default settings updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200UpdateDefaultSettingsSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400UpdateDefaultSettingsValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/employees:
    get:
      summary: Fetch All Employees
      tags:
        - Employees
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Fetched all employee details successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchEmployeeListSuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: Add Employee
      tags:
        - Employees
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddEmployeeViaManualRequest"
      responses:
        "200":
          description: User added successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200AddedEmployeeViaManuallySuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400AddEmployeeManualValidationErrorResponse"
        "409":
          description: Employee email ID is already associated with another organization.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/409AddEmployeeDuplicateErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422AddEmployeeUnprocessableErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

    patch:
      summary: Update Employee
      tags:
        - Employees
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEmployeeRequest"
      responses:
        "200":
          description: User details updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200UpdateEmployeeSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400UpdateEmployeeValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422UpdateEmployeeUnprocessableErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: Delete Employee
      tags:
        - Employees
      description: Delete a user using userId provided in the request body.
      operationId: deleteEmployee
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteEmployeeRequest"
            example:
              userId: "c0296718-3538-461b-9045-e12d11a80605"
      responses:
        "200":
          description: User deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200DeleteEmployeeSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400DeleteEmployeeValidationErrorResponse"

        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422DeleteEmployeeUnprocessableErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/employees/filter:
    post:
      summary: Fetch Employees by User ID
      tags:
        - Employees
      security:
        - BearerAuth: []
      description: Returns user details for the given list of user IDs.
      operationId: filterUserByIds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FilterUserIdsRequest"
      responses:
        "200":
          description: Fetched employee details successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchFilteredEmployeeListSuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          description: Fetched employee details successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidUserIdsError"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/employees/send-invite-link:
    post:
      summary: Add Employee via Invite Link
      tags:
        - Employees
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddEmployeeViaInviteLinkRequest"
      responses:
        "200":
          description: Invite link sent successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200AddedEmployeeViaInviteSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400AddEmployeeSendInviteValidationErrorResponse"
        "409":
          description: Employee email ID is already associated with another organization.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/409AddEmployeeDuplicateErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422AddEmployeeUnprocessableErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/teams:
    get:
      summary: Fetch All Teams
      tags:
        - Teams
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Fetched all team details successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchTeamsListSuccessResponse"

        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: Create Team
      tags:
        - Teams
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTeamRequest"
      responses:
        "200":
          description: Team created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200CreateTeamsSuccessResponse"

        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400CreateTeamValidationErrorResponse"

        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "409":
          description: Team name already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/409CreateTeamDuplicateErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

    patch:
      summary: Update Team
      tags:
        - Teams
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTeamRequest"
            example:
              teamId: "c1e4416e-f57c-4614-886f-35a5541f4316"
              teamName: "Full Stack Developer"
      responses:
        "200":
          description: Team updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200UpdateTeamSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400UpdateTeamValidationErrorResponse"

        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "409":
          description: Team name already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/409CreateTeamDuplicateErrorResponse"

        "422":
          $ref: "#/components/responses/422UpdateTeamUnprocessableErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: Delete Team
      tags:
        - Teams
      description: Deletes a team using teamId provided in the request body.
      operationId: deleteTeam
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteTeamRequest"
            example:
              teamId: "c0296718-3538-461b-9045-e12d11a80605"
      responses:
        "200":
          description: Team deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200TeamDeletedSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400DeleteTeamValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/422DeleteTeamUnprocessableErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/teams/filter:
    post:
      summary: Fetch Teams by Team ID
      tags:
        - Teams
      description: Returns team details for the given list of team IDs.
      operationId: filterTeamsByIds
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FilterTeamIdsRequest"

      responses:
        "200":
          description: Teams fetched successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchFilteredTeamsListSuccessResponse"

        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          $ref: "#/components/responses/RouteNotFoundError"

        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/access-management:
    get:
      summary: Fetch Access Role
      tags:
        - Access Control
      description: List of page-level access permissions assigned to the role.
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Fetch Access Management
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200FetchAccessManagementSuccessResponse"

        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: Create Access Role
      tags:
        - Access Control
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccessManagementRoleRequest"
      responses:
        "200":
          description: Page-level access permissions have been successfully assigned to the role.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200CreateAccessManagementSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400CreateAccessManagementValidationErrorResponse"
        "409":
          description: A role with this name already exists. Try using a unique role name.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/409CreateAccessManagementDuplicateRoleErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "500":
          $ref: "#/components/responses/InternalServerError"

    patch:
      summary: Update Access Role
      tags:
        - Access Control
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAccessManagementRoleRequest"
      responses:
        "200":
          description: Role updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200UpdateAccessManagementSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400UpdateAccessManagementValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "409":
          description: Role name already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/409UpdateDuplicateRoleErrorResponse"

        "422":
          description: Unprocessable Entity – Invalid roleId
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/422UpdateRoleIdNotFoundErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: Delete Access Role
      tags:
        - Access Control
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteAccessManagementRoleRequest"

      responses:
        "200":
          description: Role deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/200DeleteAccessManagementSuccessResponse"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400DeleteAccessManagementValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"

        "422":
          description: Unprocessable Entity – Invalid roleId
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/422DeleteRoleIdNotFoundErrorResponse"

        "500":
          $ref: "#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    UnauthorizedError:
      description: Authentication & Authorization errors
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            authorizationHeaderMissing:
              summary: Authorization header missing
              value:
                success: false
                statusCode: 401
                statusMessage: Authentication token header is missing
                data: null
                error:
                  message: Authorization header is missing
                  code: AUTHORIZATION_HEADER_MISSING

            invalidAuthorizationScheme:
              summary: Invalid authorization scheme
              value:
                success: false
                statusCode: 401
                statusMessage: Invalid authentication token schema
                data: null
                error:
                  message: Authorization header must start with 'Bearer'
                  code: INVALID_API_KEY_SCHEMA

            apiKeyMissing:
              summary: API key missing
              value:
                success: false
                statusCode: 401
                statusMessage: Authentication token is missing
                data: null
                error:
                  message: API key value is missing
                  code: API_KEY_MISSING

            invalidApiKey:
              summary: Invalid or inactive API key
              value:
                success: false
                statusCode: 401
                statusMessage: Authentication failed
                data: null
                error:
                  message: Provided API key is invalid or inactive
                  code: INVALID_API_KEY

    RouteNotFoundError:
      description: Route does not exist
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/RouteNotFound"

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/InternalServerError"

    422AddEmployeeUnprocessableErrorResponse:
      description: Unprocessable Entity – Invalid roleId or teamIds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/422CreateEmployeeSendInviteUnprocessableErrorSchema"
          examples:
            invalidRoleId:
              summary: Invalid roleId
              value:
                success: false
                statusCode: 422
                statusMessage: "Invalid roleId"
                response: null
                error:
                  message: "Provided roleId does not exist for this organisation"
                  code: INVALID_ROLE_ID

            invalidTeamId:
              summary: Invalid teamId
              value:
                success: false
                statusCode: 422
                statusMessage: "Invalid teamId"
                response: null
                error:
                  message: "One or more teamIds are invalid for this organisation"
                  code: INVALID_TEAM_ID

    422UpdateEmployeeUnprocessableErrorResponse:
      description: Unprocessable Entity – Invalid userId or roleId or teamIds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/422UpdateEmployeeUnprocessableErrorSchema"
          examples:
            invalidUserId:
              summary: Invalid userId
              value:
                success: false
                statusCode: 422
                statusMessage: "Invalid userId"
                response: null
                error:
                  message: "Provided userId does not exist for this organisation"
                  code: INVALID_USER_ID

            invalidRoleId:
              summary: Invalid roleId
              value:
                success: false
                statusCode: 422
                statusMessage: "Invalid roleId"
                response: null
                error:
                  message: "Provided roleId does not exist for this organisation"
                  code: INVALID_ROLE_ID

            invalidTeamId:
              summary: Invalid teamId
              value:
                success: false
                statusCode: 422
                statusMessage: "Invalid teamId"
                response: null
                error:
                  message: "One or more teamIds are invalid for this organisation"
                  code: INVALID_TEAM_ID

    422UpdateTeamUnprocessableErrorResponse:
      description: Unprocessable Entity – Invalid teamId
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/422UpdateTeamUnprocessableErrorSchema"
          examples:
            invalidTeamId:
              summary: Invalid teamId
              value:
                success: false
                statusCode: 422
                statusMessage: "Invalid teamId"
                response: null
                error:
                  message: "Provided teamId does not exist for this organisation"
                  code: INVALID_TEAM_ID

    422DeleteEmployeeUnprocessableErrorResponse:
      description: Unprocessable Entity – Invalid userId
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/422DeleteEmployeeUnprocessableErrorSchema"
          examples:
            invalidUserId:
              summary: Invalid userId
              value:
                success: false
                statusCode: 422
                statusMessage: "Invalid userId"
                response: null
                error:
                  message: "Provided userId does not exist for this organisation"
                  code: INVALID_USER_ID

    422DeleteTeamUnprocessableErrorResponse:
      description: Unprocessable Entity – Invalid teamId
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/422DeleteTeamUnprocessableErrorSchema"
          examples:
            invalidTeamId:
              summary: Invalid teamId
              value:
                success: false
                statusCode: 422
                statusMessage: "Invalid teamId"
                response: null
                error:
                  message: "Provided teamId does not exist for this organisation"
                  code: INVALID_TEAM_ID

  schemas:
    200FetchDefaultSettingsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

        statusCode:
          type: integer
          example: 200

        statusMessage:
          type: string
          example: Fetched all team details successfully

        error:
          type: object
          nullable: true
          example: null

        data:
          type: object
          properties:
            workDaySettings:
              type: object
              properties:
                workDays:
                  type: array
                  items:
                    type: string
                    enum:
                      - monday
                      - tuesday
                      - wednesday
                      - thursday
                      - friday
                      - saturday
                      - sunday
                  example:
                    - monday
                    - tuesday
                    - wednesday
                    - thursday
                    - friday
                    - saturday

            workHourSettings:
              type: object
              properties:
                expectedWorkMinutesPerDay:
                  type: integer
                  example: 480
                expectedProductiveWorkMinutesPerDay:
                  type: integer
                  example: 360
                expectedInTime:
                  type: string
                  example: "10:30 am"

            idleAlertSettings:
              type: object
              properties:
                minimumIdleTimeMinutes:
                  type: integer
                  example: 5
                enableIdleTimeAlert:
                  type: boolean
                  example: true
                # idleAutoLogout:
                #   type: boolean
                #   example: true

            screenshotSettings:
              type: object
              properties:
                enableScreenCapture:
                  type: boolean
                  example: true
                enableBlurScreenCapture:
                  type: boolean
                  example: true
                screenCaptureIntervalMinutes:
                  type: integer
                  example: 10

            timezoneSettings:
              type: object
              properties:
                timezone:
                  type: string
                  example: Asia/Barnaul

            stealthMonitoringSettings:
              type: object
              properties:
                enableStealthMonitoring:
                  type: boolean
                  example: true

            billingSettings:
              type: object
              properties:
                pricingPlan:
                  type: string
                  enum:
                    - free
                    - starter
                  example: starter
      
    200UpdateDefaultSettingsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

        statusCode:
          type: integer
          example: 200

        statusMessage:
          type: string
          example: Default settings updated successfully

        error:
          type: object
          nullable: true
          example: null

        data:
          type: object
          properties:
            workDaySettings:
              type: object
              properties:
                workDays:
                  type: array
                  items:
                    type: string
                    enum:
                      - monday
                      - tuesday
                      - wednesday
                      - thursday
                      - friday
                      - saturday
                      - sunday
                  example:
                    - monday
                    - tuesday
                    - wednesday
                    - thursday
                    - friday
                    - saturday

            workHourSettings:
              type: object
              properties:
                expectedWorkMinutesPerDay:
                  type: integer
                  example: 480
                expectedProductiveWorkMinutesPerDay:
                  type: integer
                  example: 360
                expectedInTime:
                  type: string
                  example: "10:30 am"

            idleAlertSettings:
              type: object
              properties:
                minimumIdleTimeMinutes:
                  type: integer
                  example: 5
                enableIdleTimeAlert:
                  type: boolean
                  example: true
                # idleAutoLogout:
                #   type: boolean
                #   example: true

            screenshotSettings:
              type: object
              properties:
                enableScreenCapture:
                  type: boolean
                  example: true
                enableBlurScreenCapture:
                  type: boolean
                  example: true
                screenCaptureIntervalMinutes:
                  type: integer
                  example: 10

            timezoneSettings:
              type: object
              properties:
                timezone:
                  type: string
                  example: Asia/Barnaul

            stealthMonitoringSettings:
              type: object
              properties:
                enableStealthMonitoring:
                  type: boolean
                  example: true

    200FetchEmployeeListSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

        statusCode:
          type: integer
          example: 200

        statusMessage:
          type: string
          example: Fetched all employee details successfully

        error:
          type: object
          nullable: true
          example: null

        data:
          type: array
          items:
            type: object
            properties:
              userId:
                type: string
                format: uuid
                example: f0ad9ad9-d421-48dc-868d-9760e33e5089

              userName:
                type: string
                example: Abirami Kannan

              emailId:
                type: string
                format: email
                example: abiramikannan2006@gmail.com

              uniqueUrl:
                type: string
                example: 6Vx3kEA8VU0q

              profilePicUrl:
                type: string
                nullable: true
                example: null

              teams:
                type: array
                items:
                  type: object
                  properties:
                    teamId:
                      type: string
                      format: uuid
                      example: 3d4c2ced-f4d6-42ea-b6db-7dcf24a77845
                    teamName:
                      type: string
                      example: Frontend Team
                example:
                  - teamId: c1e4416e-f57c-4614-886f-35a5541f4316
                    teamName: Full Stack Developer
                  - teamId: a2b5416e-f57c-4614-886f-35a5541f4321
                    teamName: Backend Team
                  - teamId: d9f4416e-f57c-4614-886f-35a5541f4399
                    teamName: UI/UX Team

              accountStatus:
                type: string
                enum: [active, invited]
                example: active

              roleId:
                type: string
                format: uuid
                example: 271e6693-2130-4ea9-b02d-e6d57516186d

              roleName:
                type: string
                example: No Access

              workMode:
                type: string
                enum: [office, remote, hybrid]
                example: hybrid

    200FetchFilteredEmployeeListSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

        statusCode:
          type: integer
          example: 200

        statusMessage:
          type: string
          example: Fetched employee details successfully

        error:
          type: object
          nullable: true
          example: null

        data:
          type: array
          items:
            type: object
            properties:
              userId:
                type: string
                format: uuid
                example: f0ad9ad9-d421-48dc-868d-9760e33e5089

              userName:
                type: string
                example: Abirami Kannan

              emailId:
                type: string
                format: email
                example: abiramikannan2006@gmail.com

              uniqueUrl:
                type: string
                example: 6Vx3kEA8VU0q

              profilePicUrl:
                type: string
                nullable: true
                example: null

              teams:
                type: array
                items:
                  type: object
                  properties:
                    teamId:
                      type: string
                      format: uuid
                      example: 3d4c2ced-f4d6-42ea-b6db-7dcf24a77845
                    teamName:
                      type: string
                      example: Frontend Team
                example:
                  - teamId: c1e4416e-f57c-4614-886f-35a5541f4316
                    teamName: Full Stack Developer
                  - teamId: a2b5416e-f57c-4614-886f-35a5541f4321
                    teamName: Backend Team
                  - teamId: d9f4416e-f57c-4614-886f-35a5541f4399
                    teamName: UI/UX Team

              accountStatus:
                type: string
                enum: [active, invited]
                example: active

              roleId:
                type: string
                format: uuid
                example: 271e6693-2130-4ea9-b02d-e6d57516186d

              roleName:
                type: string
                example: No Access

              workMode:
                type: string
                enum: [office, remote, hybrid]
                example: hybrid

    200FetchTeamsListSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Fetched all team details successfully
        error:
          type: object
          nullable: true
          example: null
        data:
          type: array
          example:
            - teamId: c1e4416e-f57c-4614-886f-35a5541f4316
              teamName: Full Stack Developer
            - teamId: a2b5416e-f57c-4614-886f-35a5541f4321
              teamName: Backend Team
            - teamId: d9f4416e-f57c-4614-886f-35a5541f4399
              teamName: UI/UX Team

    200FetchFilteredTeamsListSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Fetched team details successfully
        error:
          type: object
          nullable: true
          example: null
        data:
          type: array
          example:
            - teamId: c1e4416e-f57c-4614-886f-35a5541f4316
              teamName: Full Stack Developer

    200CreateTeamsSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Fetched all team details successfully
        error:
          type: object
          nullable: true
          example: null
        data:
          type: object
          properties:
            teamId:
              type: string
              format: uuid
              example: c1e4416e-f57c-4614-886f-35a5541f4316
            teamName:
              type: string
              example: Full Stack Developer

    400CreateTeamValidationErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          example: 400

        statusMessage:
          type: string
          example: "Failed to create team"

        data:
          type: object
          nullable: true
          example: null

        error:
          type: object
          properties:
            message:
              type: string
              example: "Request body is not valid"

            code:
              type: string
              example: "REQUEST_VALIDATION_FAILED"

            details:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: array
                    items:
                      type: string
                    example:
                      - "teamName"

                  message:
                    type: string
                    example: "Invalid input: expected string, received undefined"

    200FetchAccessManagementSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Role management retrieved successfully
        error:
          type: object
          nullable: true
          example: null
        data:
          type: array
          items:
            type: object
            properties:
              roleId:
                type: string
                format: uuid
                example: 4cf4bf1c-e564-40ab-9402-26e9b99a46fb
              roleName:
                type: string
                example: Admin
              roleData:
                type: array
                items:
                  type: object
                  properties:
                    path:
                      type: string
                      example: /my-team
                    access:
                      type: string
                      enum:
                        - Full Access
                        - Team Data
                        - Own Data
                      example: Full Access
                example:
                  - path: "/"
                    access: "Full Access"
                  - path: "/my-team"
                    access: "Full Access"
                  - path: "/insights/productivity-analysis"
                    access: "Team Data"
                  - path: "/proof-of-work/screenshot"
                    access: "Team Data"
                  - path: "/proof-of-work/timesheet"
                    access: "Own Data"

    200AddedEmployeeViaInviteSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

        statusCode:
          type: integer
          format: int32
          example: 200

        statusMessage:
          type: string
          example: "Invite link sent successfully"

        error:
          nullable: true
          example: null

        response:
          type: object
          properties:
            userName:
              type: string
              example: "Jagatheesan M"

            emailId:
              type: string
              format: email
              example: "mjagatheesan.g@gmail.com"

            userId:
              type: string
              format: uuid
              example: "7f9a0d29-c3a3-419a-87f6-11c34948cf7e"

    200AddedEmployeeViaManuallySuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

        statusCode:
          type: integer
          format: int32
          example: 200

        statusMessage:
          type: string
          example: "User added successfully"

        error:
          nullable: true
          example: null

        response:
          type: object
          properties:
            userName:
              type: string
              example: "Jagatheesan M"

            emailId:
              type: string
              format: email
              example: "mjagatheesan.g@gmail.com"

            userId:
              type: string
              format: uuid
              example: "7f9a0d29-c3a3-419a-87f6-11c34948cf7e"

    200UpdateEmployeeSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

        statusCode:
          type: integer
          format: int32
          example: 200

        statusMessage:
          type: string
          example: User details updated successfully

        error:
          nullable: true
          example: null

        response:
          type: object
          properties:
            userName:
              type: string
              example: Jagatheesan E

            userId:
              type: string
              format: uuid
              example: 1269dd50-946d-4ce6-8428-dc258710e9af

    200CreateAccessManagementSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Page-level access permissions have been successfully assigned to the role.
        error:
          type: object
          nullable: true
          example: null
        data:
          type: object
          properties:
            roleId:
              type: string
              format: uuid
              example: c44a66ea-d0ba-4423-9f85-25c68f7aa37b
            roleName:
              type: string
              example: Manager
            roleData:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: string
                    example: /my-team
                  access:
                    type: string
                    enum:
                      - Full Access
                      - Team Data
                      - Own Data
                    example: Full Access
              example:
                - path: "/"
                  access: "Full Access"
                - path: "/my-team"
                  access: "Team Data"
                - path: "/proof-of-work/screenshot"
                  access: "Own Data"

    400AddEmployeeSendInviteValidationErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          example: 400

        statusMessage:
          type: string
          example: "Failed to sent invite link"

        data:
          type: object
          nullable: true
          example: null

        error:
          type: object
          properties:
            message:
              type: string
              example: "Request body is not valid"

            code:
              type: string
              example: "REQUEST_VALIDATION_FAILED"

            details:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: array
                    items:
                      type: string
                    example:
                      - "userName"

                  message:
                    type: string
                    example: "Invalid input: expected string, received undefined"

    400AddEmployeeManualValidationErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          example: 400

        statusMessage:
          type: string
          example: "Failed to add user"

        data:
          type: object
          nullable: true
          example: null

        error:
          type: object
          properties:
            message:
              type: string
              example: "Request body is not valid"

            code:
              type: string
              example: "REQUEST_VALIDATION_FAILED"

            details:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: array
                    items:
                      type: string
                    example:
                      - "userName"

                  message:
                    type: string
                    example: "Invalid input: expected string, received undefined"

    400UpdateTeamValidationErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          example: 400

        statusMessage:
          type: string
          example: "Failed to update team details"

        data:
          type: object
          nullable: true
          example: null

        error:
          type: object
          properties:
            message:
              type: string
              example: "Request body is not valid"

            code:
              type: string
              example: "REQUEST_VALIDATION_FAILED"

            details:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: array
                    items:
                      type: string
                    example:
                      - "teamName"
                      - "teamId"

                  message:
                    type: string
                    example: "Invalid input: expected string, received undefined"
    
    400UpdateDefaultSettingsValidationErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          example: 400

        statusMessage:
          type: string
          example: Failed to update default settings

        data:
          nullable: true
          example: null

        error:
          type: object
          properties:
            message:
              type: string
              example: Request body is not valid

            code:
              type: string
              example: REQUEST_VALIDATION_FAILED

            details:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: array
                    items:
                      type: string
                    example:
                      - workDaySettings

                  message:
                    type: string
                    example: "Invalid input: expected object, received undefined"

    400UpdateEmployeeValidationErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          example: 400

        statusMessage:
          type: string
          example: "Failed to update user details"

        data:
          type: object
          nullable: true
          example: null

        error:
          type: object
          properties:
            message:
              type: string
              example: "Request body is not valid"

            code:
              type: string
              example: "REQUEST_VALIDATION_FAILED"

            details:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: array
                    items:
                      type: string
                    example:
                      - "userName"
                      - "userId"
                      - "workMode"
                      - "roleId"
                      - "teams"

                  message:
                    type: string
                    example: "Invalid input: expected string, received undefined"

    400DeleteEmployeeValidationErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          example: 400

        statusMessage:
          type: string
          example: "Failed to delete team"

        data:
          type: object
          nullable: true
          example: null

        error:
          type: object
          properties:
            message:
              type: string
              example: "Request body is not valid"

            code:
              type: string
              example: "REQUEST_VALIDATION_FAILED"

            details:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: array
                    items:
                      type: string
                    example:
                      - "teamId"

                  message:
                    type: string
                    example: "Invalid input: expected string, received undefined"

    400DeleteTeamValidationErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          example: 400

        statusMessage:
          type: string
          example: "Failed to delete user"

        data:
          type: object
          nullable: true
          example: null

        error:
          type: object
          properties:
            message:
              type: string
              example: "Request body is not valid"

            code:
              type: string
              example: "REQUEST_VALIDATION_FAILED"

            details:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: array
                    items:
                      type: string
                    example:
                      - "userId"

                  message:
                    type: string
                    example: "Invalid input: expected string, received undefined"

    400CreateAccessManagementValidationErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          example: 400

        statusMessage:
          type: string
          example: Failed to create a new access role

        data:
          nullable: true
          example: null

        error:
          type: object
          properties:
            message:
              type: string
              example: Request body is not valid

            code:
              type: string
              example: REQUEST_VALIDATION_FAILED

            details:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: array
                    items:
                      type: string
                    example:
                      - roleName
                  message:
                    type: string
                    example: roleName is required

    409AddEmployeeDuplicateErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          example: 409

        statusMessage:
          type: string
          example: "Employee email ID is already associated with another organization"

        error:
          type: object
          properties:
            message:
              type: string
              example: "duplicate key value violates unique constraint `unique_email_id`"

            code:
              type: string
              example: "DUPLICATE_EMAIL_ID"

        data:
          type: object
          nullable: true
          example: null

    409CreateTeamDuplicateErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          example: 409

        statusMessage:
          type: string
          example: "Team name already exists"

        error:
          type: object
          properties:
            message:
              type: string
              example: "Team name already exists. Please choose a different team name."
            code:
              type: string
              example: "DUPLICATE_TEAM_NAME"

        data:
          type: object
          nullable: true
          example: null

    409CreateAccessManagementDuplicateRoleErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        statusCode:
          type: integer
          example: 409
        statusMessage:
          type: string
          example: A role with this name already exists. Try using a unique role name.
        data:
          nullable: true
          example: null
        error:
          type: object
          properties:
            message:
              type: string
              example: A role with this name already exists in your organization. Please choose a different name.
            code:
              type: string
              example: DUPLICATE_ROLE_NAME

    200UpdateAccessManagementSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Role management updated successfully.
        error:
          type: object
          nullable: true
          example: null
        data:
          type: object
          properties:
            roleId:
              type: string
              format: uuid
              example: "c44a66ea-d0ba-4423-9f85-25c68f7aa37b"
            roleName:
              type: string
              example: "Admin"
            roleData:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: string
                    example: "/my-team"
                  access:
                    type: string
                    enum:
                      - Full Access
                      - Team Data
                      - Own Data
                    example: "Full Access"
              nullable: true

    200DeleteAccessManagementSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Role deleted successfully.
        error:
          type: object
          nullable: true
          example: null
        data:
          type: object
          properties:
            roleId:
              type: string
              format: uuid
              example: c0296718-3538-461b-9045-e12d11a80605

    400UpdateAccessManagementValidationErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          example: 400

        statusMessage:
          type: string
          example: Failed to update access role

        data:
          nullable: true
          example: null

        error:
          type: object
          properties:
            message:
              type: string
              example: Request body is not valid

            code:
              type: string
              example: REQUEST_VALIDATION_FAILED

            details:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: array
                    items:
                      type: string
                    example:
                      - roleName
                  message:
                    type: string
                    example: roleName is required

    400DeleteAccessManagementValidationErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        statusCode:
          type: integer
          example: 400
        statusMessage:
          type: string
          example: Failed to delete role
        data:
          nullable: true
          example: null
        error:
          type: object
          properties:
            message:
              type: string
              example: Request body is not valid
            code:
              type: string
              example: REQUEST_VALIDATION_FAILED
            details:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: array
                    items:
                      type: string
                    example:
                      - roleId
                  message:
                    type: string
                    example: "Invalid input: expected string, received undefined"

    404UpdateRoleIdNotFoundErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        statusCode:
          type: integer
          example: 404
        statusMessage:
          type: string
          example: RoleId not found
        data:
          nullable: true
          example: null
        error:
          type: object
          properties:
            message:
              type: string
              example: The specified role does not exist in this organization.
            code:
              type: string
              example: ROLE_ID_NOT_FOUND

    422DeleteRoleIdNotFoundErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        statusCode:
          type: integer
          example: 422
        statusMessage:
          type: string
          example: Invalid roleId
        data:
          nullable: true
          example: null
        error:
          type: object
          properties:
            message:
              type: string
              example: The specified roleId does not exist in this organization.
            code:
              type: string
              example: INVALID_ROLE_ID

    422UpdateRoleIdNotFoundErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        statusCode:
          type: integer
          example: 422
        statusMessage:
          type: string
          example: Invalid roleId
        data:
          nullable: true
          example: null
        error:
          type: object
          properties:
            message:
              type: string
              example: Provided teamId does not exist for this organisation.
            code:
              type: string
              example: INVALID_ROLE_ID

    409UpdateDuplicateRoleErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        statusCode:
          type: integer
          example: 409
        statusMessage:
          type: string
          example: Role name already exists
        data:
          nullable: true
          example: null
        error:
          type: object
          properties:
            message:
              type: string
              example: A role with this name already exists in your organization. Please choose a different name.
            code:
              type: string
              example: DUPLICATE_ROLE_NAME

    200UpdateTeamSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Team details updated successfully.
        error:
          type: object
          nullable: true
          example: null
        data:
          type: object
          properties:
            teamId:
              type: string
              format: uuid
              example: c1e4416e-f57c-4614-886f-35a5541f4316
            teamName:
              type: string
              example: Full Stack Developer

    200TeamDeletedSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: Team deleted successfully
        error:
          type: object
          nullable: true
          example: null
        data:
          type: object
          properties:
            teamId:
              type: string
              format: uuid
              example: c0296718-3538-461b-9045-e12d11a80605

    200DeleteEmployeeSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        statusCode:
          type: integer
          example: 200
        statusMessage:
          type: string
          example: User deleted successfully
        error:
          type: object
          nullable: true
          example: null
        data:
          type: object
          properties:
            userId:
              type: string
              format: uuid
              example: c0296718-3538-461b-9045-e12d11a80605

    InvalidUserIdsError:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          example: 422

        statusMessage:
          type: string
          example: Invalid userId

        error:
          type: object
          properties:
            message:
              type: string
              example: One or more userId do not exist for this organisation

            code:
              type: string
              enum:
                - INVALID_USER_ID
              example: INVALID_USER_ID

            details:
              type: object
              required:
                - invalidUserId
              properties:
                invalidUserId:
                  type: array
                  items:
                    type: string
                    format: uuid
                  example:
                    - f0ad9ad9-d421-48dc-868d-9760e33e5080

        data:
          nullable: true
          example: null

    # -------- Activity Tracking -------- #
    DesktopActivityTrackingCapturedEvent:
      type: object
      properties:
        event:
          type: string
          example: desktop.activity_tracking.captured

        version:
          type: string
          example: v1

        agent:
          type: string
          example: desktop-agent

        timestamp:
          type: integer
          description: Event timestamp in milliseconds (epoch)
          example: 1769592774119

        data:
          $ref: "#/components/schemas/DesktopActivityTrackingData"

      required:
        - event
        - version
        - agent
        - timestamp
        - data

    DesktopActivityTrackingData:
      type: object
      properties:
        workMode:
          type: boolean
          description: >
            Indicates whether the user is currently in active work mode.
            `true` means work mode, `false` means privacy mode.
          example: false

        organisationId:
          type: string
          format: uuid

        teamId:
          type: string
          format: uuid

        userId:
          type: string
          format: uuid

      required:
        - workMode
        - organisationId
        - teamId
        - userId

    # ------------------ App Tracking ------------------
    DesktopAppTrackingCapturedEvent:
      type: object
      properties:
        event:
          type: string
          example: desktop.app_tracking.captured

        version:
          type: string
          example: v1

        agent:
          type: string
          example: desktop-agent

        timestamp:
          type: integer
          description: Event timestamp in milliseconds (epoch)
          example: 1769591645035

        data:
          type: array
          items:
            $ref: "#/components/schemas/DesktopAppTrackingData"

      required:
        - event
        - version
        - agent
        - timestamp
        - data

    DesktopAppTrackingData:
      type: object
      properties:
        trackingId:
          type: string
          format: uuid
          example: e2fbd487-1ede-43e9-bd62-188da02d489f

        trackingAppName:
          type: string
          example: Google Chrome

        trackingAppTitle:
          type: string
          example: Screenshot Tracking Event

        trackingAppUrl:
          type: string
          example: localhost

        trackingAppFullUrl:
          type: string
          example: http://localhost:3000/api-reference/desktop-events/screenshot-tracking-event#response-data-items-team-id

        trackingAppType:
          type: string
          enum:
            - website
            - application
          example: website

        trackingAppIconUrl:
          type: string
          format: uri
          example: https://localhost/favicon.ico

        trackingAppCategory:
          type: string
          example: Unknown Category

        trackingAppProductivityCategory:
          type: string
          enum:
            - productive
            - unproductive
            - neutral
          example: neutral

        trackingAppEvent:
          type: string
          example: work_mode

        trackingAppTimeSpend:
          type: integer
          description: Time spent on the app in seconds
          example: 20

        trackingAppStartTime:
          type: string
          format: date-time
          example: 2026-01-28T09:13:21.771Z

        trackingAppEndTime:
          type: string
          format: date-time
          example: 2026-01-28T09:13:42.594Z

        trackingMode:
          type: string
          enum:
            - online
            - offline
          example: online

        trackingReason:
          type: string
          example: App Switched

        trackingWorkType:
          type: string
          enum:
            - office
            - remote
            - hybrid
          example: office

        trackingOperatingSystem:
          type: string
          enum:
            - windows
            - macos
            - linux
          example: macos

        organisationId:
          type: string
          format: uuid

        teamId:
          type: string
          format: uuid

        userId:
          type: string
          format: uuid

      required:
        - trackingId
        - trackingAppName
        - trackingAppType
        - trackingAppTimeSpend
        - trackingAppStartTime
        - trackingAppEndTime
        - trackingMode
        - organisationId
        - teamId
        - userId
        - trackingOperatingSystem

    # ------------------ Screenshot Tracking ------------------
    DesktopScreenshotCapturedEvent:
      type: object
      properties:
        event:
          type: string
          example: desktop.screenshot_tracking.captured

        version:
          type: string
          example: v1

        agent:
          type: string
          example: desktop-agent

        timestamp:
          type: integer
          description: Event timestamp in milliseconds (epoch)
          example: 1769591066292

        data:
          type: array
          items:
            $ref: "#/components/schemas/DesktopScreenshotData"

      required:
        - event
        - version
        - agent
        - timestamp
        - data

    DesktopScreenshotData:
      type: object
      properties:
        screenshotId:
          type: string
          format: uuid
          example: b774c86b-26e3-415f-b6d0-20a0a01b597c

        screenshotAppName:
          type: string
          example: Brave Browser

        screenshotAppIconUrl:
          type: string
          format: uri
          example: https://dev.trackpilots.com/favicon.ico

        screenshotAppFullUrl:
          type: string
          example: dev.trackpilots.com

        screenshotAppCategory:
          type: string
          example: Unknown Category

        screenshotAppProductivityCategory:
          type: string
          enum:
            - productive
            - unproductive
            - neutral
          example: productive

        isIdleScreenshot:
          type: string
          enum:
            - yes
            - no
          example: yes

        screenshotTime:
          type: string
          format: date-time
          example: 2026-01-28T09:05:00.308Z

        screenshotUrl:
          type: array
          description: >
            Array of screenshot image buffers.
            Each item is a Base64-encoded image buffer.
          items:
            type: string
            format: byte
            example: iVBORw0KGgoAAAANSUhEUgAA...

        screenshotOperatingSystem:
          type: string
          enum:
            - windows
            - macos
            - linux
          example: windows

        screenshotWorkType:
          type: string
          enum:
            - office
            - remote
            - hybrid
          example: hybrid

        organisationId:
          type: string
          format: uuid

        teamId:
          type: string
          format: uuid

        userId:
          type: string
          format: uuid

      required:
        - screenshotId
        - screenshotAppName
        - screenshotTime
        - screenshotUrl
        - organisationId
        - teamId
        - userId
        - screenshotOperatingSystem

    # ------------------ Errors ------------------

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          format: int32
          example: 401

        statusMessage:
          type: string
          example: "Authentication failed"

        data:
          nullable: true
          example: null

        error:
          type: object
          properties:
            message:
              type: string
              example: "Authorization header is missing"

            code:
              type: string
              enum:
                - AUTHORIZATION_HEADER_MISSING
                - INVALID_API_KEY_SCHEMA
                - API_KEY_MISSING
                - INVALID_API_KEY
              example: "AUTHORIZATION_HEADER_MISSING"

    BaseError:
      type: object
      properties:
        success:
          type: boolean
          example: false
        statusCode:
          type: integer
        statusMessage:
          type: string
        data:
          nullable: true
          example: null
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: string

    RouteNotFound:
      allOf:
        - $ref: "#/components/schemas/BaseError"
        - type: object
          properties:
            statusCode:
              example: 422
            statusMessage:
              example: Route does not exist
            error:
              properties:
                message:
                  example: The requested endpoint or method is not available
                code:
                  example: ROUTE_NOT_FOUND

    AuthHeaderMissing:
      allOf:
        - $ref: "#/components/schemas/BaseError"
        - type: object
          properties:
            statusCode:
              example: 401
            statusMessage:
              example: Authentization token header is missing
            error:
              properties:
                message:
                  example: Authentization header is missing
                code:
                  example: AUTHORIZATION_HEADER_MISSING

    InvalidAuthScheme:
      allOf:
        - $ref: "#/components/schemas/BaseError"
        - type: object
          properties:
            statusCode:
              example: 401
            statusMessage:
              example: Authorization scheme is invalid
            error:
              properties:
                message:
                  example: Invalid authorization scheme
                code:
                  example: INVALID_AUTHORIZATION_SCHEMA

    TokenMissing:
      allOf:
        - $ref: "#/components/schemas/BaseError"
        - type: object
          properties:
            statusCode:
              example: 401
            statusMessage:
              example: Authentication token is missing
            error:
              properties:
                message:
                  example: Token is missing
                code:
                  example: TOKEN_MISSING

    TokenExpired:
      allOf:
        - $ref: "#/components/schemas/BaseError"
        - type: object
          properties:
            statusCode:
              example: 401
            statusMessage:
              example: Authentication token is expired
            error:
              properties:
                message:
                  example: Token is expired
                code:
                  example: TOKEN_EXPIRED

    TokenInvalid:
      allOf:
        - $ref: "#/components/schemas/BaseError"
        - type: object
          properties:
            statusCode:
              example: 401
            statusMessage:
              example: Authentication token is invalid
            error:
              properties:
                message:
                  example: Token is invalid
                code:
                  example: TOKEN_INVALID

    InternalServerError:
      allOf:
        - $ref: "#/components/schemas/BaseError"
        - type: object
          properties:
            statusCode:
              example: 500
            statusMessage:
              example: Internal server error
            error:
              type: object
              properties:
                message:
                  example: Some technical error has occurred !!
                code:
                  example: UNKNOWN_SERVER_ERROR

    AuthErrorResponse:
      allOf:
        - $ref: "#/components/schemas/BaseError"
        - type: object
          properties:
            statusCode:
              example: 401
            error:
              properties:
                code:
                  type: string
                  enum:
                    - AUTHORIZATION_HEADER_MISSING
                    - INVALID_AUTHORIZATION_SCHEMA
                    - TOKEN_MISSING
                    - TOKEN_EXPIRED
                    - TOKEN_INVALID

    # --------- Input Request -------- #

    FilterTeamIdsRequest:
      type: object
      required:
        - teamId
      properties:
        teamId:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
            example: c1e4416e-f57c-4614-886f-35a5541f4316
          description: List of team IDs to fetch

    FilterUserIdsRequest:
      type: object
      required:
        - userId
      properties:
        userId:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
            example: f0ad9ad9-d421-48dc-868d-9760e33e5089
          description: List of user IDs to fetch

    CreateTeamRequest:
      type: object
      required:
        - teamName
      properties:
        teamName:
          type: string
          example: Full Stack Developer

    UpdateTeamRequest:
      type: object
      required:
        - teamId
        - teamName
      properties:
        teamId:
          type: string
          format: uuid
          example: c1e4416e-f57c-4614-886f-35a5541f4316
        teamName:
          type: string
          example: Backend Team

    DeleteTeamRequest:
      type: object
      required:
        - teamId
      properties:
        teamId:
          type: string
          format: uuid
          description: Unique ID of the team to delete

    DeleteEmployeeRequest:
      type: object
      required:
        - userId
      properties:
        userId:
          type: string
          format: uuid
          description: Unique ID of the user to delete

    CreateAccessManagementRoleRequest:
      type: object
      properties:
        roleName:
          type: string
          example: Manager
        roleData:
          type: array
          description: Route-wise access configuration defining the permission level granted to this role.
          items:
            type: object
            example:
              - path: "/"
                access: "Full Access"
              - path: "/my-team"
                access: "Team Data"
              - path: "/proof-of-work/screenshot"
                access: "Own Data"

            properties:
              path:
                type: string
                example: /my-team
              access:
                type: string
                enum:
                  - Full Access
                  - Team Data
                  - Own Data
                example: Team Data
      required:
        - roleName

    UpdateAccessManagementRoleRequest:
      type: object
      required:
        - roleId
        - roleName
      properties:
        roleId:
          type: string
          format: uuid
          example: "c44a66ea-d0ba-4423-9f85-25c68f7aa37b"
        roleName:
          type: string
          example: "Admin"
        roleData:
          type: array
          items:
            type: object
            properties:
              path:
                type: string
                example: "/my-team"
              access:
                type: string
                enum:
                  - Full Access
                  - Team Data
                  - Own Data
                example: "Full Access"
          nullable: true

    DeleteAccessManagementRoleRequest:
      type: object
      required:
        - roleId
      properties:
        roleId:
          type: string
          format: uuid
          example: "c44a66ea-d0ba-4423-9f85-25c68f7aa37b"

    AddEmployeeViaInviteLinkRequest:
      type: object
      required:
        - userName
        - emailId
        - roleId
        - teamId
        - workMode
      properties:
        userName:
          type: string
          minLength: 2
          maxLength: 100
          example: "Jagatheesan M"

        emailId:
          type: string
          format: email
          example: "mjagatheesan.g@gmail.com"

        roleId:
          type: string
          format: uuid
          example: "271e6693-2130-4ea9-b02d-e6d57516186d"

        teamId:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
          example:
            - "5f6fe61c-15c6-47b7-899d-dba99da2464c"

        workMode:
          type: string
          enum:
            - remote
            - office
            - hybrid
          example: "remote"

    AddEmployeeViaManualRequest:
      type: object
      required:
        - userName
        - emailId
        - roleId
        - teamId
        - workMode
        - password
      properties:
        userName:
          type: string
          minLength: 2
          maxLength: 100
          example: "Jagatheesan M"

        emailId:
          type: string
          format: email
          example: "mjagatheesan.g@gmail.com"

        password:
          type: string
          format: password
          minLength: 8
          maxLength: 128
          description: >
            Must contain at least 1 uppercase letter, 1 lowercase letter,
            1 number, and 1 special character.
          pattern: '^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z\d]).{8,128}$'
          example: "Strong@123"

        roleId:
          type: string
          format: uuid
          example: "271e6693-2130-4ea9-b02d-e6d57516186d"

        teamId:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
          example:
            - "5f6fe61c-15c6-47b7-899d-dba99da2464c"

        workMode:
          type: string
          enum:
            - remote
            - office
            - hybrid
          example: "remote"

    UpdateDefaultSettingsRequest:
      type: object
      properties:
        workDaySettings:
          type: object
          required:
            - workDays
          properties:
            workDays:
              type: array
              minItems: 1
              items:
                type: string
                enum:
                  - monday
                  - tuesday
                  - wednesday
                  - thursday
                  - friday
                  - saturday
                  - sunday
              example:
                - monday
                - tuesday
                - wednesday
                - thursday
                - friday
                - saturday

        workHourSettings:
          type: object
          required:
            - expectedWorkMinutesPerDay
            - expectedProductiveWorkMinutesPerDay
            - expectedInTime
          properties:
            expectedWorkMinutesPerDay:
              type: integer
              example: 480
            expectedProductiveWorkMinutesPerDay:
              type: integer
              example: 360
            expectedInTime:
              type: string
              example: "10:30 am"

        idleAlertSettings:
          type: object
          required:
            - minimumIdleTimeMinutes
            - enableIdleTimeAlert
            # - idleAutoLogout
          properties:
            minimumIdleTimeMinutes:
              type: integer
              example: 5
            enableIdleTimeAlert:
              type: boolean
              example: true
            # idleAutoLogout:
            #   type: boolean
            #   example: true

        screenshotSettings:
          type: object
          required:
            - enableScreenCapture
            - enableBlurScreenCapture
            - screenCaptureIntervalMinutes
          properties:
            enableScreenCapture:
              type: boolean
              example: true
            enableBlurScreenCapture:
              type: boolean
              example: true
            screenCaptureIntervalMinutes:
              type: integer
              example: 10

        timezoneSettings:
          type: object
          required:
            - timezone
          properties:
            timezone:
              type: string
              example: Asia/Barnaul

        stealthMonitoringSettings:
          type: object
          required:
            - enableStealthMonitoring
          properties:
            enableStealthMonitoring:
              type: boolean
              example: true

    UpdateEmployeeRequest:
      type: object
      required:
        - userId
        - userName
        - roleId
        - teamId
        - workMode
      properties:
        userId:
          type: string
          format: uuid
          example: "271e6693-2130-4ea9-b02d-e6d57516186d"

        userName:
          type: string
          minLength: 2
          maxLength: 100
          example: "Jagatheesan M"

        roleId:
          type: string
          format: uuid
          example: "271e6693-2130-4ea9-b02d-e6d57516186d"

        teamId:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
          example:
            - "5f6fe61c-15c6-47b7-899d-dba99da2464c"

        workMode:
          type: string
          enum:
            - remote
            - office
            - hybrid
          example: "remote"

    422CreateEmployeeSendInviteUnprocessableErrorSchema:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          format: int32
          example: 422

        statusMessage:
          type: string
          example: "Invalid roleId"

        response:
          nullable: true
          example: null

        error:
          type: object
          properties:
            message:
              type: string
              example: "Provided roleId does not exist for this organisation"
            code:
              type: string
              enum:
                - INVALID_ROLE_ID
                - INVALID_TEAM_ID
              example: "INVALID_ROLE_ID"

    422UpdateEmployeeUnprocessableErrorSchema:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          format: int32
          example: 422

        statusMessage:
          type: string
          example: "Invalid userId"

        response:
          nullable: true
          example: null

        error:
          type: object
          properties:
            message:
              type: string
              example: "Provided userId does not exist for this organisation"
            code:
              type: string
              enum:
                - INVALID_USER_ID
                - INVALID_ROLE_ID
                - INVALID_TEAM_ID
              example: "INVALID_USER_ID"

    422UpdateTeamUnprocessableErrorSchema:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          format: int32
          example: 422

        statusMessage:
          type: string
          example: "Invalid teamId"

        response:
          nullable: true
          example: null

        error:
          type: object
          properties:
            message:
              type: string
              example: "Provided teamId does not exist for this organisation"
            code:
              type: string
              example: "INVALID_TEAM_ID"

    422DeleteEmployeeUnprocessableErrorSchema:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          format: int32
          example: 422

        statusMessage:
          type: string
          example: "Invalid userId"

        response:
          nullable: true
          example: null

        error:
          type: object
          properties:
            message:
              type: string
              example: "Provided userId does not exist for this organisation"
            code:
              type: string
              example: "INVALID_USER_ID"

    422DeleteTeamUnprocessableErrorSchema:
      type: object
      properties:
        success:
          type: boolean
          example: false

        statusCode:
          type: integer
          format: int32
          example: 422

        statusMessage:
          type: string
          example: "Invalid teamId"

        response:
          nullable: true
          example: null

        error:
          type: object
          properties:
            message:
              type: string
              example: "Provided teamId does not exist for this organisation"
            code:
              type: string
              example: "INVALID_TEAM_ID"
